<div style="position: absolute; left: 0; top: 0; right: 0; bottom: 0;">
    <button class="btn btn-primary" (click)="unitWidthChanged(-1)">rate -1</button>
    <button class="btn btn-primary" (click)="unitWidthChanged(1)">rate +1</button>
    <button class="btn btn-primary" (click)="pause()"><i class="fa fa-pause"></i></button>
    <button class="btn btn-primary" (click)="play()"><i class="fa fa-play"></i></button>
    <button class="btn btn-primary" (click)="reset()"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-primary">unitScale：{{ unitScale }}</button>
    <button class="btn btn-primary">currentFrame：{{ currentFrame }}</button>
    <!-- <button class="btn btn-primary">offsetLeft: {{ offsetLeft|slice:0:2 }}</button> -->


    <div class="layer-container" style="position: relative; height: calc(100% - 24px)">
        <div class="timeline-box">
            <div class="left-section">
                <div class="time-box">{{formatRulerShowTime(totalDuration)}}
                </div>
                <div class="change-view-btns">
                    <div class="checkbox-like like-font">
                        <input type="checkbox" [(ngModel)]="isShowText" checked>
                        <div class="_surface"></div>
                    </div>
                </div>
            </div>
            <div class="right-section">
                <div class="ruler-box">
                    <div class="ruler-content">
                        <canvas id="ruler-canvas" (dblclick)="addInfo($event)"></canvas>
                        <!-- <canvas id="shadow-ruler"></canvas> -->
                    </div>
                    <div *ngFor="let info of infos" class="lable-info" [style.left.px]="info.left"><div>{{info.title}}</div></div>
                </div>
            </div>
        </div>
        <div class="shot-box">
            <div style="width: 100%;" *ngFor="let track of trackList; let rowIndex of index;">
                <app-single-track 
                    [totalDuration]="totalDuration" 
                    [track]="track" 
                    [isShowText]="isShowText" 
                    [unitDuration]="unitDuration" 
                    [rectHeight]="rectHeight" 
                    [unitFrameWidth]="unitFrameWidth"
                    [isDrawPic]="isDrawPic"
                    [unitScale]="unitScale"
                    [offsetLeft]="offsetLeft">
                </app-single-track>
            </div>
        </div>
        <div class="bottom-toolbar">
            <div class="left-section">
                <div class="_tools-box">
                    <span class="link-icon _add fa-stack icon-combo">
                        <i class="fa fa-list fa-stack-1x icon-combo-main"></i>
                        <i class="fa fa-plus-circle fa-stack-1x icon-combo-symbol"></i>
                    </span>
                </div>
            </div>
            <div class="right-section">
                <div class="scrollbar-box">
                    <div class="scrollbar">
                        <div class="resize-left"></div>
                        <div class="resize-right"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vernier" *ngIf="isDrawPic" [style.left.px]="vernierLeft">
            <div class="drag-vernier-handle" (mousedown)="vernierMousedown(event)"></div>
        </div>

    </div>
</div>
