<div style="height: 460px;">
    <button class="btn btn-primary" (click)="unitWidthChanged(-2)">unitWidth -2</button>
    <button class="btn btn-primary" (click)="unitWidthChanged(2)">unitWidth +2</button>
    <button class="btn btn-primary" (click)="pause()"><i class="fa fa-pause"></i></button>
    <button class="btn btn-primary" (click)="play()"><i class="fa fa-play"></i></button>
    <button class="btn btn-primary" (click)="reset()"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-primary">{{ currentFrame }}</button>


    <div class="layer-container" style="height: inherit; position: relative;">
        <div class="timeline-box">
            <div class="left-section">
                <div class="time-box">{{formatRulerShowTime(totalDuration)}}
                </div>
                <div class="change-view-btns">
                    <a class="active">
                        <i class="fa fa-film"></i>
                    </a>
                    <div class="checkbox-like like-font">
                        <input type="checkbox" [(ngModel)]="isShowText" checked>
                        <div class="_surface"></div>
                    </div>
                </div>
            </div>
            <div class="right-section">
                <div class="ruler-box">
                    <div class="ruler-content">
                        <canvas id="ruler-canvas"></canvas>
                        <canvas id="shadow-ruler"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="shot-box">
            <div style="width: 100%;" *ngFor="let track of trackList; let rowIndex of index;">
                <app-single-track [track]="track" [row]="rowIndex" [isShowText]="isShowText" [unitWidth]="unitWidth" [unitDuration]="unitDuration" [rectHeight]="rectHeight" [offsetLeft]="offsetLeft"></app-single-track>
            </div>
        </div>
        <div class="bottom-toolbar">
            <div class="left-section">
                <div class="_tools-box">
                    <span class="link-icon _add fa-stack icon-combo">
                        <i class="fa fa-list fa-stack-1x icon-combo-main"></i>
                        <i class="fa fa-plus-circle fa-stack-1x icon-combo-symbol"></i>
                    </span>
                </div>
            </div>
            <div class="right-section">
                <div class="scrollbar-box">
                    <div class="scrollbar">
                        <div class="resize-left"></div>
                        <div class="resize-right"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vernier" [style.left.px]="vernierLeft">
            <div class="drag-vernier-handle"></div>
        </div>

    </div>
</div>
