<table class="table-fixed form-row select-row">
    <tbody>
        <tr>
            <td class="row-title">查找选择框</td>
            <td>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" (click)="showMenu = !showMenu" />
                    </div>
                    <div class="modal-flatest-container put-down" *ngIf="showMenu">
						<div class="select-content common-content">
  <!-- <div style="background: gray; height: 800px; width: 100px; "></div>   -->
							<table class="table-fixed">
								<tr>
									<!-- <td></td> -->
									<td>阿打算放</td>
									<!-- <td></td> -->
								</tr>
								<tr class="more-right-triangle">
									<!-- <td></td> -->
									<td>阿打算放</td>
									<!-- <td></td> -->
								</tr>
								<tr class="cannt-click">
									<!-- <td></td> -->
									<td>阿打算放</td>
									<!-- <td></td> -->
								</tr>
								<tr class="row-selected">
									<!-- <td></td> -->
									<td>阿打算放</td>
									<!-- <td></td> -->
								</tr>
								<!-- <tr *ngFor="let item of dataSource; let i = index;" [ngClass]="item.select ? 'selected' : 'unselected'"
									(click)="onClick(i)">
									<td *ngIf="columns.column3Visible" style="width:30px; text-align:left"><i [class]="item[columns.column3]"></i></td>
									<td *ngIf="columns.column4Visible" style="width:70px; text-align:left">{{item[columns.column4]}}</td>
									<td style="text-align:left" [title]="item.name">{{item[columns.column2]}}</td>
								</tr> -->
							</table>
							<hr class="line-separator">
						</div>
                    </div>
                </div>
            </td>
            <td class="row-msg"></td>
        </tr>
    </tbody>
</table>
