<div mouseSelect  style="position: relative; background: #ccc; border: 1px solid black; position: fixed; top: 20px; left: 20px; right: 20px; height: 300px; overflow: auto;">
    <!-- <div style="border: 3px solid red; width: 1000px; height: 1000px;"> -->
        <!-- af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br>
        af
        <br> -->
        <div class="mouse-select-div"></div>
        <canvas></canvas>
    <!-- </div> -->
</div>

