<div class="nav-container">
    <ul class="nav-section">
        <li><a>页面权限</a></li>
        <li class="active"><a>字段权限</a></li>
        <li><a>自定义字段权限</a></li>
        <li><a>共通权限</a></li>
        <li><a>应用程序权限</a></li>
        <li><a>数据权限</a></li>
    </ul>
</div>
<div class="select-container">
    <div class="select-box">
        <div class="input-box">
            <input type="text">
            <i class="fa fa-angle-down select-signed"></i>
        </div>
    </div>
</div>
<div class="permission-container">

    <div class="permission-group">
        <div class="permission-group-title"><span><i class="fa fa-angle-down"></i> 实体权限</span></div>
        <div class="permission-content">
            <!-- 由grid改为flex布局，结构做了些调整，新增了 “行”  -->
            <div class="permission-content__row">
                <div class="title">序列管理</div>
                <div>
                    <label><input type="checkbox"> 查看</label>
                    <label><input type="checkbox"> 查看</label>
                    <label><input type="checkbox"> 查看</label>
                    <label><input type="checkbox"> 查看</label>
                </div>
            </div>
            <div class="permission-content__row">
                <div class="title">序列管理</div>
                <div>
                    <label><input type="checkbox"> 查看</label>
                    <label><input type="checkbox"> 查看</label>
                    <label><input type="checkbox"> 查看</label>
                    <label><input type="checkbox"> 查看</label>
                </div>
            </div>
        </div>
    </div>

    <div class="permission-content">
        <!-- 由grid改为flex布局，结构做了些调整，新增了 “行”  -->
        <div class="permission-content__row">
            <div class="title">序列管理</div>
            <div>
                <label><input type="checkbox"> 查看</label>
                <label><input type="checkbox"> 查看</label>
                <label><input type="checkbox"> 查看</label>
                <label><input type="checkbox"> 查看</label>
            </div>
        </div>
        <div class="permission-content__row">
            <div class="title">序列管理</div>
            <div>
                <label><input type="checkbox"> 查看</label>
                <label><input type="checkbox"> 查看</label>
                <label><input type="checkbox"> 查看</label>
                <label><input type="checkbox"> 查看</label>
            </div>
        </div>
        
    </div>
</div>
