<hr>
<div style="padding-left: 50px;"><i class="ll-icon-new"></i></div>
<hr>
<h2>status color</h2>
<p style="padding-left: 15px;" class="omt">omt忽略</p>
<p style="padding-left: 15px;" class="wtg">wtg待开始</p>
<p style="padding-left: 15px;" class="ip">ip进行中</p>
<p style="padding-left: 15px;" class="hld">hld搁置</p>
<p style="padding-left: 15px;" class="cmpt">cmpt完成</p>
<p style="padding-left: 15px;" class="apr">apr审核中</p>
<p style="padding-left: 15px;" class="dlvr">dlvr交付</p>
<hr style="margin-top:100px;">
<div class="range-container" style="text-align: center">
    <button class="_minus"><i class="fa fa-minus"></i></button>
    <input type="range" min="1" max="2.5" step="0.1">
    <button class="_plus"><i class="fa fa-plus"></i></button>
</div>
<hr>
<br>
<h3>
    <i class="fa fa-calendar-check-o"></i>
    <i class="fa fa-id-badge"></i>
    <i class="fa fa-group"></i>
    <i class="fa fa-sitemap"></i>
    <i class="fa fa-street-view"></i>
</h3>
<br>
<hr>
<table class="table-fixed form-row select-row">
    <tbody>
        <tr>
            <td class="row-title">查找选择框</td>
            <td>
                <div class="select-box">
                    <div class="input-box">
                        <i class="fa fa-play"></i>
                        <input type="text" />
                    </div>
                    <div *ngIf="false" class="modal-flatest-container put-down" style="width: 150px; height: 130px;">
                        <my-date-picker [options]="myopt"></my-date-picker>
                    </div>
                </div>

            </td>
        </tr>
    </tbody>
</table>



<div style="display:inline-block; position:relative">

        <!-- yingjun 在div上加了z-index，因为新建里阴影遮住了div，以后改好删掉 -->
        <div *ngIf="false" #div1 class="modal-flatest-container" style="z-index:9; height: 200px; width: 160px; margin-left: 100px; margin-top: 100px;">
          <div class="select-content common-content">
            <div class="content-group">
              <div class="group-title" id="wtd2">高级字段选择</div>
              <table class="table-fixed">
                <tr>
                  <td class="check-td"><i class="fa fa-check fa-fw"></i></td>
                  <td>开始时间</td>
                </tr>
                <tr>
                  <td class="check-td"><i></i></td>
                  <td>开始时间</td>
                </tr>
                <tr class="more-right-triangle" pipelineDisplay="false" (mouseenter)="pipelineDisplay = true" (mouseleave)="pipelineDisplay = false">
                  <td class="check-td"><i class="fa fa-check fa-fw"></i></td>
                  <td>开始时间
                        <div #pplDiv class="modal-flatest-container" *ngIf="pipelineDisplay" style="position:fixed; left: 262px;top: 160px;height: 50px; width: 150px;">
                            <div id='pipeline' class="select-content common-content">
                                <table class="table-fixed ppl-body">
                                    <tr>
                                        <td class="check-td"><i class="fa fa-check fa-fw"></i></td>
                                        <td class="ppl-color"><i style="background: green"></i></td>
                                        <td>ppl 颜色</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                  </td>
                </tr>
                <!-- <tr class="more-right-triangle" *ngIf="false">
                  <td id='xtd1' class="check-td"><i [class]="itemCheck(false)"></i></td>
                  <td id="xtd2">{{ 'page.step-field'}}
                    <div #pplDiv class="modal-flatest-container" [style.display]="pipeLineDisplay" style="position:fixed">
                      <div id='pipeline' class="select-content common-content">
                        <table class="table-fixed ppl-body">
                          <tr *ngFor="let item of pipeLineSource; let i = index;" (click)="onClickForPPL(i)">
                            <td [id]='i' class="check-td"><i [class]="itemCheck(item.visible)"></i></td>
                            <td [id]='i+1' class="ppl-color"><i [style.background]="item.color"></i></td>
                            <td [id]='i+2'>{{item.description}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr> -->
              </table>
            </div>
          </div>
        </div>
      </div>
<hr>
<h2>context menu</h2>
<div *ngIf="true" class="modal-context-container" style=" left: 200px; top: 200px;">
    <div class="cmenu-item">新建一个用户新建一个用户新建一个用户</div>
    <div class="cmenu-item">新建一个用户</div>
    <div class="cmenu-item cannt-click">新建一个用户</div>
    <div class="cmenu-item">新建一个用户</div>
    <hr class="line-separator">
    <div class="cmenu-item">

        <i class="fa fa-sort-alpha-asc fa-fw my-fa-cancel"></i> 新建一个用户</div>
    <div class="cmenu-item"><i class="fa fa-remove fa-fw"></i> 新建一个用户</div>
</div>
<hr>

<button #btn type="button" (click)="showData()">shwo</button>
<div #div1 class="modal-flatest-container" *ngIf="showChild" style="height: 200px;">
  <div class="select-content common-content">
    <table class="table-fixed">
      <tr #adFBtn (click)="openAdvancdeFieldSelectDialog()">
        <td id='wtd1' class="check-td"></td>
        <td id="wtd2">字段高级选择</td>
      </tr>
      <tr [id]="item.description" (click)="onClickForData(i)" >
        <td [id]='i+1' class="check-td"><i class="fa fa-checked"></i></td>
        <td [id]='i+2' >描述</td>
      </tr>
      <tr [id]="item.description" (click)="onClickForData(i)" >
        <td [id]='i+1' class="check-td"><i class="fa fa-checked"></i></td>
        <td [id]='i+2' >描述</td>
      </tr>
      <tr #pplBtn (mouseenter)="showPipeLine()"  class="more-right-triangle">
        <td id='xtd1' class="check-td"><i [class]="itemCheck(false)"></i></td>
        <td id="xtd2">步骤
          <div #pplDiv class="modal-flatest-container" style="display:block;">
            <div id='pipeline' class="select-content common-content">
              <table class="table-fixed ppl-body">
                <tr (click)="onClickForPPL(i)">
                  <td [id]='i' class="check-td"><i class="fa fa-checked"></i></td>
                  <td [id]='i+1'  class="ppl-color"><i style="background: red;"></i></td>
                  <td [id]='i+2' >描述</td>
                </tr>
                <tr (click)="onClickForPPL(i)">
                  <td [id]='i' class="check-td"><i></i></td>
                  <td [id]='i+1'  class="ppl-color"><i></i></td>
                  <td [id]='i+2' >描述</td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<hr>
<h2>日期组件</h2>
<div style="margin-left: 100px;">
        <my-date-picker></my-date-picker>
                    </div>
<hr>
<h2>thumbnail</h2>
<thumbnail></thumbnail>
<thumbnail></thumbnail>
<hr>
<h2>详情</h2>
<button class="btn btn-primary" showDetail="true" (click)="showDetail = !showDetail">show it!</button>
<div class="detail-container" style="width: 780px; height: 450px; position: static;" *ngIf="showDetail">
    <div class="detail-content">
        <table class="table-fixed form-row select-row">
            <tbody>
                <tr>
                    <td class="row-title">查找选择框<i class="fa fa-ban"></i></td>
                    <td>
                        <div class="select-box">
                            <div class="input-box">
                                <i class="input-ppl-color" style="background: yellow"></i>
                                <input type="text" />
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-fixed form-row">
            <tbody>
                <tr>
                    <td class="row-title">查找选择框 <i class="fa fa-pencil"></i></td>
                    <td>
                        <div class="select-box">

                            <div class="input-box ll-label-box only-showing">
                                <div class="ll-label-content clearfix">
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <div class="remove-ll-label"><i class="fa fa-remove"></i></div>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                </div>
                                <!-- <input type="text">  -->
                            </div>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-fixed form-row">
            <tbody>
                <tr>
                    <td class="row-title">查找选择框 <i class="fa fa-pencil"></i></td>
                    <td>
                        <div class="select-box">

                            <div class="input-box ll-label-box">
                                <div class="ll-label-content clearfix">
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <div class="remove-ll-label"><i class="fa fa-remove"></i></div>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                    <span class="ll-label">
                                        <i class="fa fa-user"></i>
                                        <span>刘大宝</span>
                                        <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
                                    </span>
                                </div>
                                <input type="text">
                            </div>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-fixed form-row">
            <tbody>
                <tr>
                    <td class="row-title">查找选择框 <i class="fa fa-pencil"></i></td>
                    <td>
                        <div class="select-box">
                            <div class="input-box only-showing">
                                <i class="fa fa-star"></i>
                                <!-- <i class="input-ppl-color" style="background: yellow"></i> -->
                                <span>整个地方不是input了</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-fixed form-row select-row error-row">
            <tbody>
                <tr>
                    <td class="row-title">查找选择框<i class="fa fa-ban"></i></td>
                    <td>
                        <div class="select-box">
                            <div class="input-box">
                                <input type="text" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><div class="error-msg"><i class="fa fa-info-circle"></i> 错误信息</div></td>
                </tr>
            </tbody>
        </table>
        <table class="table-fixed form-row error-row">
            <tbody>
                <tr>
                    <td class="row-title">查找选择框 <i class="fa fa-pencil"></i></td>
                    <td>
                        <div class="select-box">
                            <div class="input-box only-showing">
                                <span>整个地方不是input了</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><div class="error-msg"><i class="fa fa-info-circle"></i> 错误信息</div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<span class="fa-stack fa-lg">
    <i class="fa fa-file-o fa-stack-2x"></i>
    <i class="fa fa-check-circle fa-stack-1x fa-inverse"></i>
</span>


<hr>
<h2>modal - jqxWindow</h2>
<button class="btn btn-primary" showJqWindow="false" (click)="showJqWindow = !showJqWindow">show it!</button>
<jqxWindow [width]="500" [height]="300" [isModal]="true" [resizable]="false" *ngIf="showJqWindow">
    <div class="ll-modal-header">
        <span class="fa-stack ll-modal-header-icon icon-combo">
            <i class="fa fa-list-alt fa-stack-1x icon-combo-main"></i>
            <i class="fa fa-plus-circle fa-stack-1x icon-combo-symbol"></i>
        </span>
        <i class="fa fa-check-circle ll-modal-header-icon" style="display:none;"></i>新建资产
    </div>
    <div class="ll-modal-main">
        <div class="ll-modal-body">
                <table class="table-fixed form-row">
                        <tr>
                            <td class="row-title">创建日期</td>
                            <td><my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" required></my-date-picker></td>
                        </tr>
                </table>
            <app-select-input></app-select-input>
            <app-editor-string-input [rowLength]="4"></app-editor-string-input>

            <div class="more-fields">选择字段 <i class="fa fa-plus"></i></div>
        </div>
        <div class="ll-modal-footer">
            <div class="checkbox-row">
                <label>
					<input type="checkbox">
					<span>不关闭窗口，继续创建</span>
				</label>
            </div>
            <button class="btn btn-primary"><i class="fa fa-check"></i> 确定</button>
            <button class="btn btn-default"><i class="fa fa-reply"></i> 取消</button>
        </div>
    </div>
</jqxWindow>

<hr>
<h2>modal - jqxWindow</h2>
<button class="btn btn-primary" (click)="showJqWindow2 = !showJqWindow2">show it!</button>
<jqxWindow [width]="500" [height]="300" [isModal]="true" [resizable]="false" *ngIf="showJqWindow2">
    <div class="ll-modal-header">
        <span class="fa-stack ll-modal-header-icon icon-combo">
            <i class="fa fa-list-alt fa-stack-1x icon-combo-main"></i>
            <i class="fa fa-plus-circle fa-stack-1x icon-combo-symbol"></i>
        </span>
        <i class="fa fa-check-circle ll-modal-header-icon" style="display:none;"></i>新建资产
    </div>
    <div class="ll-modal-main">
        <div class="ll-modal-body sort-modal">
            <div *ngIf="false">
                <table class='table-fixed' appSortTableContainer>
                    <tr class="_header">
                        <td class="_td1"><i class="fa fa-list"></i></td>
                        <td class="_td2"><label><input #ckAD type="checkbox" [checked]="selectedAllData" /></label></td>
                        <td class="_td3">全选</td>
                    </tr>
                    <tr *ngFor="let item of params.dataSource; let i = index;" appDNDSortTable (click)="onSelectedDataItem(i)">
                        <td class="_td1"><i class="fa fa-list"></i></td>
                        <td class="_td2"><label><input [disabled]="!item.nullable" type="checkbox" [checked]="item.visible" /></label></td>
                        <td class="_td3">字段</td>
                    </tr>
                </table>
            </div>

            <div *ngIf="true">
                <!--<label>{{ 'page.step-field'}}</label>-->
                <table class='table'>
                    <!--<tr (click)="onSelectAllPPL()">-->
                        <!--<td class="td1"><i class="fa fa-list"></i></td>-->
                        <!--<td class="td2"><label><input #ckAPPL type="checkbox" [checked]='selectedAllPPL'/></label></td>-->
                        <!--<td class="td3">{{ 'page.selectAll'}}</td>-->
                    <!--</tr>-->
                    <tr *ngFor="let item of params.pipeLineSource; let i = index;" (click)="onSelectedPPLItem(i)">
                        <td class="td4"><i class="fa fa-list"></i></td>
                        <!-- <td class="td2"><label><input type="checkbox" [checked]="item.setting.visible" /></label></td> -->
                        <td class="td2"><label><input type="checkbox" [checked]="item.visible" /></label></td>
                        <td class="td3">{{item.description}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="ll-modal-footer">
            <button class="btn btn-primary"><i class="fa fa-check"></i> 确定</button>
            <button class="btn btn-default"><i class="fa fa-reply"></i> 取消</button>
        </div>
    </div>
</jqxWindow>

<hr>
<h2>modal - jqxWindow</h2>
<button class="btn btn-primary" (click)="showJqWindow3 = !showJqWindow3">show it!</button>
<jqxWindow [width]="540" [height]="600" [isModal]="true" [resizable]="false" *ngIf="showJqWindow3">
    <div class="ll-modal-header">
        <span class="fa-stack ll-modal-header-icon icon-combo">
            <i class="fa fa-list-alt fa-stack-1x icon-combo-main"></i>
            <i class="fa fa-plus-circle fa-stack-1x icon-combo-symbol"></i>
        </span>
        <i class="fa fa-check-circle ll-modal-header-icon" style="display:none;"></i>新建资产
    </div>
    <div class="ll-modal-main">
        <div class="ll-modal-body" style="padding-right:44px">
            <div style="padding-bottom:20px">
                <table class="table-fixed form-row" id="entity-1" style="display: table;">
                <tbody><tr>
                    <td class="row-title" id="label1">连接类型</td>
                    <td id="select1">
                        <div class="select-box" id="general-select">
                            <div class="input-box">
                                <input id="general-input" type="text" class="ng-pristine ng-valid ng-touched">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody></table>
                <!----><table class="table-fixed form-row" id="entity-3">
                    <tbody><tr>
                        <td class="row-title" id="label3">连接任务</td>
                        <td id="select3">
                            <div class="select-box" id="group-select">
                                <div class="input-box ll-label-box">
                                    <!---->
                                    <input id="group-input" type="text" class="ng-untouched ng-pristine ng-valid">
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
                <table class="table-fixed form-row" id="description" style="display: table;">
                <tbody><tr>
                    <td class="row-title" id="label">描述</td>
                    <td id="input">
                        <div class="input-box" id="string-input">
                            <input id="str-input" type="text" class="ng-untouched ng-pristine ng-valid">
                        </div>
                    </td>
                </tr>
                </tbody></table>
                <table class="table-fixed form-row" id="status_list" style="display: table;">
                <tbody><tr>
                    <td class="row-title" id="label">状态</td>
                    <td id="dictionary">
                        <div class="select-box" id="general-select">
                            <div class="input-box">
                                <!---->
                                <input id="general-input" type="text" class="ng-untouched ng-pristine ng-valid">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody></table>
            </div>


                <div style="padding-left:44px">
                    <div class="well my-drop-zone" ng2filedrop="">
                        <i class="fa fa-paperclip"></i> 点击选择文件或拖放文件


                        <div style="margin-bottom: 40px">
                            <p>文件个数: 1</p>
                            <table style="width:100%">
                                <thead>
                                <tr>
                                    <th width="50%">文件名</th>
                                    <th>大小</th>
                                    <th>进度</th>
                                    <th colspan="2" style="text-align:center">操作</th>
                                </tr>
                                </thead>
                                <tbody id="table-body">
                                <tr>
                                    <td><strong>fus.rar</strong></td>
                                    <td nowrap="">2.329 KB</td>
                                    <td>
                                        <div class="progress" style="width:90%; margin-bottom:0; background-color:lightgray">
                                            <div class="progress-bar" role="progressbar" style="background-color: yellowgreen; width: 0%;">0%</div>
                                        </div>
                                    </td>
                                    <td style="width:120px">
                                        <select style="width:98%">
                                            <option value="0">添加新版本</option>
                                            <!----><option value="1">file.txt</option><option value="2">info.txt</option>
                                        </select>
                                    </td>
                                    <td nowrap="" style="width:30px">
                                        <button style="height:18pt"> 移除</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <input multiple="" ng2fileselect="" style="display:none" type="file">
                </div>
        </div>
        <div class="ll-modal-footer">
            <button class="btn btn-primary"><i class="fa fa-check"></i> 确定</button>
            <button class="btn btn-default"><i class="fa fa-reply"></i> 取消</button>
        </div>
    </div>
</jqxWindow>
<hr>
<hr>
<h2>modal - jqxWindow---高级排序</h2>
<button class="btn btn-primary" (click)="showJqWindow6 = !showJqWindow6">show it!</button>
<jqxWindow [width]="540" [height]="600" [isModal]="true" [resizable]="false" *ngIf="showJqWindow6">
    <div class="ll-modal-header">
        <span class="fa-stack ll-modal-header-icon icon-combo">
            <i class="fa fa-list-alt fa-stack-1x icon-combo-main"></i>
            <i class="fa fa-plus-circle fa-stack-1x icon-combo-symbol"></i>
        </span>
        <i class="fa fa-check-circle ll-modal-header-icon" style="display:none;"></i>新建资产
    </div>
    <div class="ll-modal-main">
        <div class="ll-modal-body advanced-modal">
            <table class="table-fixed">
                <tr>
                    <td class="_long-box">
                        <div class="input-box select-signed">
                            <input type="text">
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </td>
                    <td class="_short-box">
                        <div class="input-box select-signed">
                            <input type="text">
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </td>
                    <td>
                        <a href='javascript:;'><i class='fa fa-chevron-circle-up'></i></a>
                        <a href='javascript:;'><i class='fa fa-chevron-circle-down'></i></a>
                        <a href='javascript:;'><i class='fa fa-plus-square'></i></a>
                        <a href='javascript:;'><i class='fa fa-minus-square'></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="_long-box">
                        <div class="input-box">
                            <input type="text">
                            <i class="fa fa-angle-down select-signed"></i>
                        </div>
                    </td>
                    <td class="_short-box">
                        <div class="input-box">
                            <input type="text">
                            <i class="fa fa-angle-down select-signed"></i>
                        </div>
                    </td>
                    <td>
                        <a href='javascript:;'><i class='fa fa-chevron-circle-up'></i></a>
                        <a href='javascript:;'><i class='fa fa-chevron-circle-down'></i></a>
                        <a href='javascript:;'><i class='fa fa-plus-square'></i></a>
                        <a href='javascript:;'><i class='fa fa-minus-square'></i></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="ll-modal-footer">
            <button class="btn btn-primary"><i class="fa fa-check"></i> 确定</button>
            <button class="btn btn-default"><i class="fa fa-reply"></i> 取消</button>
        </div>
    </div>
</jqxWindow>
<hr>



<h2>ll-lable</h2>
<div style="width: 300px; margin-top: 20px;">
    <div class="input-box ll-label-box">
        <div class="ll-label-content clearfix">
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
        </div>
        <input type="text">
    </div>
    <div *ngIf="false" class="modal-flatest-container put-down" style="width: 150px; height: 130px;">
            <div class="select-content common-content">
                <table class="table-fixed status-body status-col-3">
                    <tr>
                        <td><i class="fa fa-fw fa-stop"></i></td>
                        <td>stp</td>
                        <td>暂停</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-fw fa-play"></i></td>
                        <td>pl</td>
                        <td>进行中</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-fw fa-undo"></i></td>
                        <td>fin</td>
                        <td>完成</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-fw fa-play"></i></td>
                        <td>pl</td>
                        <td>进行中</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-fw fa-undo"></i></td>
                        <td>fin</td>
                        <td>完成</td>
                    </tr>
                </table>
            </div>
        </div>

</div>

<hr>
<h2>form 元素</h2>
<h3>input，select</h3>
<p>input-box, form-row, table-fixed ，需要改变宽度时，在外部添加容器以限制宽度</p>
<div style="width: 300px;">
    <div class="input-box">
        <input type="text" placeholder="asdfjasfs">
        <i class="fa fa-angle-down select-signed"></i>
    </div>
</div>
<div style="width: 300px; margin-top: 20px;">
    <div class="input-box">
        <i class="fa fa-play"></i>
        <input type="text" value="进行中">
    </div>
</div>
<div style="width: 300px; margin-top: 20px;">
    <div class="input-box">
        <i class="input-ppl-color" style="background: yellow"></i>
        <input type="text" value="资产的拍普兰">
    </div>
</div>

<div style="width: 400px; margin-top: 20px;">
    <table class="table-fixed form-row select-row error-row">
        <tbody>
            <tr>
                <td class="row-title">查找选择框</td>
                <td>
                    <div class="select-box">
                        <div class="input-box">
                            <i class="fa fa-play"></i>
                            <input type="text" value="进行中" show01="false" (click)="show01 = !show01" />
                        </div>
                        <div *ngIf="true" class="modal-flatest-container put-down" style="width: 150px; height: 130px;">
                            <div class="select-content common-content">
                                <table class="table-fixed status-body status-col-3">
                                    <tr>
                                        <td><i class="fa fa-fw fa-stop"></i></td>
                                        <td>stp</td>
                                        <td>暂停</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-fw fa-play"></i></td>
                                        <td>pl</td>
                                        <td>进行中</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-fw fa-undo"></i></td>
                                        <td>fin</td>
                                        <td>完成</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-fw fa-play"></i></td>
                                        <td>pl</td>
                                        <td>进行中</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-fw fa-undo"></i></td>
                                        <td>fin</td>
                                        <td>完成</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
             <tr>
                <td></td>
                <td><div class="error-msg"><i class="fa fa-info"></i> 错误信息</div></td>
            </tr>
        </tbody>
    </table>
</div>

<hr>
<table class="table-fixed form-row select-row">
    <tbody>
        <tr>
            <td class="row-title">查找选择框</td>
            <td>
                <div class="select-box">
                    <div class="input-box">
                        <i class="fa fa-play"></i>
                        <input type="text" />
                    </div>
                    <div class="modal-flatest-container put-down" style="width: 150px; height: 130px;">
						<div class="select-content common-content">
                            <table class="table-fixed status-body status-col-3">
                                <tr>
                                    <td><i class="fa fa-fw fa-stop"></i></td>
                                    <td>stp</td>
                                    <td>暂停</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-fw fa-play"></i></td>
                                    <td>pl</td>
                                    <td>进行中</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-fw fa-undo"></i></td>
                                    <td>fin</td>
                                    <td>完成</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-fw fa-play"></i></td>
                                    <td>pl</td>
                                    <td>进行中</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-fw fa-undo"></i></td>
                                    <td>fin</td>
                                    <td>完成</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </tbody>
</table>




<table class="table-fixed form-row select-row">
    <tbody>
        <tr>
            <td class="row-title">查找选择框</td>
            <td>

                <div class="select-box" style="margin-top: 200px;">
                    <div class="input-box select-signed">
                        <i class="input-ppl-color" style="background: yellow"></i>
                        <input type="text" />
                        <i class="fa-angle-down fa"></i>
                    </div>
                    <div class="modal-flatest-container put-down" style="width: 180px; height: 230px; left: 100px; /*top: 200px;*/">
                        <div class="select-content common-content pipeline-content">
                            <div class="content-group">
                                <div class="group-title">资产</div>
                                <div class="content-group">
                                    <div class="group-title">阿童木大战阿拉丁</div>
                                    <table class="table-fixed pipeline-body">
                                        <tr>
                                            <td><span></span></td>
                                            <td>开发</td>
                                        </tr>
                                        <tr>
                                            <td><span style="background: green;"></span></td>
                                            <td>文案撰写</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="content-group">
                                    <div class="group-title">全部项目</div>
                                    <table class="table-fixed pipeline-body">
                                        <tr>
                                            <td><span style="background: red;"></span></td>
                                            <td>待编译</td>
                                        </tr>
                                        <tr>
                                            <td><span style="background: purple;"></span></td>
                                            <td>说明书</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <hr class="line-separator">

                            <div class="content-group">
                                <div class="group-title">镜头</div>
                                <div class="content-group">
                                    <div class="group-title">阿童木大战阿拉丁</div>
                                    <table class="table-fixed pipeline-body">
                                        <tr>
                                            <td class="ppl-color"><span></span></td>
                                            <td>第一个资产</td>
                                        </tr>
                                        <tr>
                                            <td class="ppl-color"><span></span></td>
                                            <td>第2个资产</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="content-group">
                                    <div class="group-title">全部项目</div>
                                    <table class="table-fixed pipeline-body">
                                        <tr>
                                            <td class="ppl-color"><span></span></td>
                                            <td>第一个资产</td>
                                        </tr>
                                        <tr>
                                            <td class="ppl-color"><span></span></td>
                                            <td>第2个资产</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </td>
            <td class="row-msg"></td>
        </tr>
    </tbody>
</table>

<div class="select-box" style="margin-top: 400px;">
    <div class="input-box">
        <input type="text" />
    </div>
    <div class="modal-flatest-container put-down" style="width: 180px; height: 230px; left: 500px; /*top: 200px;*/">
        <div class="select-content common-content pipeline-content">

            <div class="content-group">
                <div class="group-title">阿童木大战阿拉丁</div>
                <table class="table-fixed pipeline-body">
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                </table>
            </div>
            <hr class="line-separator">

            <div class="content-group">
                <div class="group-title">全部项目</div>
                <table class="table-fixed pipeline-body">
                    <tr>
                        <td><span style="background: red;"></span></td>
                        <td>待编译</td>
                    </tr>
                    <tr>
                        <td><span style="background: purple;"></span></td>
                        <td>说明书</td>
                    </tr>
                </table>
            </div>
            <hr class="line-separator">

            <div class="content-group">
                <div class="group-title">全部项目</div>
                <table class="table-fixed pipeline-body">
                    <tr>
                        <td><span style="background: red;"></span></td>
                        <td>待编译</td>
                    </tr>
                    <tr>
                        <td><span style="background: purple;"></span></td>
                        <td>说明书</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>




    <div class="modal-flatest-container put-down" style="width: 180px; height: 230px; left: 300px;">
        <div class="select-content common-content pipeline-content">

                <table class="table-fixed pipeline-body">
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                </table>


        </div>
    </div>
</div>




<div class="select-box" style="margin-top: 500px;">
    <div class="input-box">
        <input type="text" />
    </div>
    <div class="modal-flatest-container put-down" style="width: 150px; height: 130px;">
        <div class="select-content common-content">
            <table class="table-fixed status-body status-col-2">
                <tr>
                    <td><i class="fa fa-fw fa-stop"></i></td>
                    <td>暂停</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-play"></i></td>
                    <td>进行中</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-undo"></i></td>
                    <td>完成</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-play"></i></td>
                    <td>进行中</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-undo"></i></td>
                    <td>完成</td>
                </tr>
            </table>
            <button class="btn btn-primary">确定</button>
        </div>
    </div>
</div>
<div class="select-box" style="margin-top: 200px;">
    <div class="input-box">
        <input type="text" />
    </div>
    <div class="modal-flatest-container put-down" style="width: 150px; height: 130px;">
        <div class="select-content common-content">
            <table class="table-fixed">
                <tr>
                    <td>暂停</td>
                </tr>
                <tr>
                    <td>进行中</td>
                </tr>
                <tr>
                    <td>完成</td>
                </tr>
                <tr>
                    <td>进行中</td>
                </tr>
                <tr>
                    <td>完成</td>
                </tr>
            </table>
        </div>
    </div>
</div>




