<table *ngIf="commentState" class="table-fixed form-row select-row within-comment within-comment-state" style="display: table;">
    <tbody>
        <tr>
            <td class="row-title" id="label"><i class="fa fa-pencil"></i></td>
            <!---->
            <td id="value" title="资产_3333">
                <div class="select-box">
                    <div class="input-box only-showing">
                        <i class="fa fa-star"></i> <span>进行中</span><input class="ng-untouched ng-pristine ng-valid" style="display: none;">
                    </div>
                </div>
            </td>
            <!---->
        </tr>
        <tr style="display: none;">
            <td></td>
            <td id="message">
                <!-- <message> -->
                    <div class="error-msg" id="error"><i class="fa fa-info-circle"></i>

                    </div>
                <!-- </message> -->
            </td>
        </tr>
    </tbody>
</table>
<table *ngIf="commentTitle" class="table-fixed form-row select-row within-comment" id="label-string-input" style="display: table;">
    <tbody>
        <tr>
            <td class="row-title" id="label"><i class="fa fa-pencil"></i></td>
            <!---->
            <td id="value" title="资产_3333">
                <div class="select-box">
                    <div class="input-box only-showing">
                        <span>这个是就是吧 iOS 的标题改了</span><input class="ng-untouched ng-pristine ng-valid" style="display: none;">
                    </div>
                </div>
            </td>
            <!---->
        </tr>
        <tr style="display: none;">
            <td></td>
            <td id="message">
                <!-- <message> -->
                    <div class="error-msg" id="error"><i class="fa fa-info-circle"></i>

                    </div>
                <!-- </message> -->
            </td>
        </tr>
    </tbody>
</table>
