<div class="login-page">
    <div class="_container">
        <div class="login-content">
            <div class="ll-brand" style="text-transform: uppercase">whirligig</div>
        </div>
        <div class="login-container">
            <div class="login-content">
                <div class="error-msg"><i class="fa fa-warning"></i>用户输入不争取</div>

                <div class="input-group"><input type="text" class="error" placeholder="用户名"><i class="fa fa-user my-fa"></i></div>
                <div class="input-group"><input type="password" placeholder="密码"><i class="fa fa-key my-fa"></i></div>
                <button class="login-btn">登录</button>
            </div>
        </div>
    </div>
    <div class="copy-box">&copy; 2017 XXXX All Rights Reserved.</div>
</div>
