<div class="select-box grid-label-box">
    <div class="input-box ll-label-box">
        <div class="ll-label-content clearfix">
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>

        </div>
        <input type="text">

    </div>
    <div *ngIf="true" class="modal-flatest-container put-down" style="top: 100%; width: 150px; height: 130px;">
        <div class="select-content common-content">
            <table class="table-fixed status-body status-col-3">
                <tr>
                    <td><i class="fa fa-fw fa-stop"></i></td>
                    <td>stp</td>
                    <td>暂停</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-play"></i></td>
                    <td>pl</td>
                    <td>进行中</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-undo"></i></td>
                    <td>fin</td>
                    <td>完成</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-play"></i></td>
                    <td>pl</td>
                    <td>进行中</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-undo"></i></td>
                    <td>fin</td>
                    <td>完成</td>
                </tr>
            </table>
        </div>
    </div>
</div>
