
<nav *ngIf="showThis" style="position: fixed; left: 0; top: 0; width: 100%; height: 30px; text-align: center; z-index: 99999;">
    <a routerLink="/login">login</a> /
    <a routerLink="/track">track</a> /
    <a routerLink="/media">media</a> /
    <a routerLink="/player-layer">player layer</a> /
    <a routerLink="/home">home</a> /
    <a routerLink="/layout">layout</a> /
    <a routerLink="/show">latest style</a> /
    <a routerLink="/all">components</a> /
    <a routerLink="/select">mouse select</a> /
    <a routerLink="/my-tree">bug tree</a> /
    <a routerLink="/grid">grid</a> /
    <a routerLink="/my-player">player</a> /
    <a routerLink="/my-fn">some fun</a> /
    <a routerLink="/my-task">my task</a> /
    <a routerLink="/ruler">drag ruler</a> /
    <a routerLink="/sort">sort</a>
</nav>
<button (click)="showThis = !showThis" style="position: fixed; left: 2px; bottom: 2px; font-size: 36px; z-index: 99999"><i class="fa fa-eye"></i></button>
<router-outlet></router-outlet>




