<hr>
<h2>详情</h2>
<button class="btn btn-primary" showDetail="true" (click)="showDetail = !showDetail">show it!</button>
<div class="detail-container" style="width: 780px; height: 450px;" *ngIf="showDetail">
    <div class="detail-content">
        <table class="table-fixed form-row select-row">
            <tbody>
                <tr>
                    <td class="row-title">查找选择框<i class="fa fa-ban"></i></td>
                    <td>
                        <div class="select-box">
                            <div class="input-box">
                                <i class="input-ppl-color" style="background: yellow"></i>
                                <input type="text" />
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-fixed form-row">
            <tbody>
                <tr>
                    <td class="row-title">查找选择框 <i class="fa fa-pencil"></i></td>
                    <td>
                        <div class="select-box">
                            <div class="input-box only-showing">
                                <i class="input-ppl-color" style="background: yellow"></i>
                                <span>整个地方不是input了</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-fixed form-row select-row error-row">
            <tbody>
                <tr>
                    <td class="row-title">查找选择框<i class="fa fa-ban"></i></td>
                    <td>
                        <div class="select-box">
                            <div class="input-box">
                                <input type="text" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><div class="error-msg"><i class="fa fa-info-circle"></i> 错误信息</div></td>
                </tr> 
            </tbody>
        </table>
        <table class="table-fixed form-row error-row">
            <tbody>
                <tr>
                    <td class="row-title">查找选择框 <i class="fa fa-pencil"></i></td>
                    <td>
                        <div class="select-box">
                            <div class="input-box only-showing">
                                <span>整个地方不是input了</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><div class="error-msg"><i class="fa fa-info-circle"></i> 错误信息</div></td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>



<hr>
<h2>modal - jqxWindow</h2>
<button class="btn btn-primary" showJqWindow="false" (click)="showJqWindow = !showJqWindow">show it!</button>
<jqxWindow [width]="500" [height]="300" [isModal]="true" [resizable]="false" *ngIf="showJqWindow">
    <div class="ll-modal-header">新建资产</div>
    <div class="ll-modal-main">
        <div class="ll-modal-body">
            <app-select-input></app-select-input>
            <app-editor-string-input [rowLength]="4"></app-editor-string-input>
            <div class="more-fields">选择字段 <i class="fa fa-plus"></i></div>
        </div>
        <div class="ll-modal-footer">
            <div class="checkbox-row">
                <label>
					<input type="checkbox">
					<span>不关闭窗口，继续创建</span>
				</label>
            </div>
            <button class="btn btn-primary"><i class="fa fa-check"></i> 确定</button>
            <button class="btn btn-default">取消</button>
        </div>
    </div>
</jqxWindow>
<hr>

<h2>ll-lable</h2>
<div style="width: 300px; margin-top: 20px;">
    <div class="input-box ll-label-box">
        <div class="ll-label-content clearfix">
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
            <span class="ll-label">
                <i class="fa fa-user"></i>
                <span>刘大宝</span>
                <button class="remove-ll-label"><i class="fa fa-remove"></i></button>
            </span>
        </div>
        <input type="text"> 
    </div>
</div>

<hr>
<h2>form 元素</h2>
<h3>input，select</h3>
<p>input-box, form-row, table-fixed ，需要改变宽度时，在外部添加容器以限制宽度</p>
<div style="width: 300px;">
    <div class="input-box">
        <input type="text">
    </div>
</div>
<div style="width: 300px; margin-top: 20px;">
    <div class="input-box">
        <i class="fa fa-play"></i>
        <input type="text" value="进行中">
    </div>
</div>
<div style="width: 300px; margin-top: 20px;">
    <div class="input-box">
        <i class="input-ppl-color" style="background: yellow"></i>
        <input type="text" value="资产的拍普兰">
    </div>
</div>

<div style="width: 400px; margin-top: 20px;">
    <table class="table-fixed form-row select-row error-row">
        <tbody>
            <tr>
                <td class="row-title">查找选择框</td>
                <td>
                    <div class="select-box">
                        <div class="input-box">
                            <i class="fa fa-play"></i>
                            <input type="text" value="进行中" show01="false" (click)="show01 = !show01" />
                            <!-- <p><i class="fa fa-info"></i> 错误信息</p> -->
                        </div>
                        <div *ngIf="show01" class="modal-flatest-container put-down" style="width: 150px; height: 130px;">
                            <div class="select-content common-content">
                                <table class="table-fixed status-body status-col-3">
                                    <tr>
                                        <td><i class="fa fa-fw fa-stop"></i></td>
                                        <td>stp</td>
                                        <td>暂停</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-fw fa-play"></i></td>
                                        <td>pl</td>
                                        <td>进行中</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-fw fa-undo"></i></td>
                                        <td>fin</td>
                                        <td>完成</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-fw fa-play"></i></td>
                                        <td>pl</td>
                                        <td>进行中</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-fw fa-undo"></i></td>
                                        <td>fin</td>
                                        <td>完成</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </td>
            </tr>
             <tr>
                <td></td>
                <td><div class="error-msg"><i class="fa fa-info"></i> 错误信息</div></td>
            </tr> 
        </tbody>
    </table>
</div>

<hr>
<table class="table-fixed form-row select-row">
    <tbody>
        <tr>
            <td class="row-title">查找选择框</td>
            <td>
                <div class="select-box">
                    <div class="input-box">
                        <i class="fa fa-play"></i>
                        <input type="text" />
                    </div>
                    <div class="modal-flatest-container put-down" style="width: 150px; height: 130px;">
						<div class="select-content common-content">
                            <table class="table-fixed status-body status-col-3">
                                <tr>
                                    <td><i class="fa fa-fw fa-stop"></i></td>
                                    <td>stp</td>
                                    <td>暂停</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-fw fa-play"></i></td>
                                    <td>pl</td>
                                    <td>进行中</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-fw fa-undo"></i></td>
                                    <td>fin</td>
                                    <td>完成</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-fw fa-play"></i></td>
                                    <td>pl</td>
                                    <td>进行中</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-fw fa-undo"></i></td>
                                    <td>fin</td>
                                    <td>完成</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
            </td>
        </tr>
    </tbody>
</table>




<table class="table-fixed form-row select-row">
    <tbody>
        <tr>
            <td class="row-title">查找选择框</td>
            <td>

                <div class="select-box" style="margin-top: 200px;">
                    <div class="input-box">
                        <i class="input-ppl-color" style="background: yellow"></i>
                        <input type="text" />
                    </div>
                    <div class="modal-flatest-container put-down" style="width: 180px; height: 230px;">
                        <div class="select-content common-content pipeline-content">
                            <div class="content-group">
                                <div class="group-title">资产</div>
                                <div class="content-group">
                                    <div class="group-title">阿童木大战阿拉丁</div>
                                    <table class="table-fixed pipeline-body">
                                        <tr>
                                            <td><span></span></td>
                                            <td>开发</td>
                                        </tr>
                                        <tr>
                                            <td><span style="background: green;"></span></td>
                                            <td>文案撰写</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="content-group">
                                    <div class="group-title">全部项目</div>
                                    <table class="table-fixed pipeline-body">
                                        <tr>
                                            <td><span style="background: red;"></span></td>
                                            <td>待编译</td>
                                        </tr>
                                        <tr>
                                            <td><span style="background: purple;"></span></td>
                                            <td>说明书</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <hr class="line-separator">

                            <div class="content-group">
                                <div class="group-title">镜头</div>
                                <div class="content-group">
                                    <div class="group-title">阿童木大战阿拉丁</div>
                                    <table class="table-fixed pipeline-body">
                                        <tr>
                                            <td class="ppl-color"><span></span></td>
                                            <td>第一个资产</td>
                                        </tr>
                                        <tr>
                                            <td class="ppl-color"><span></span></td>
                                            <td>第2个资产</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="content-group">
                                    <div class="group-title">全部项目</div>
                                    <table class="table-fixed pipeline-body">
                                        <tr>
                                            <td class="ppl-color"><span></span></td>
                                            <td>第一个资产</td>
                                        </tr>
                                        <tr>
                                            <td class="ppl-color"><span></span></td>
                                            <td>第2个资产</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </td>
            <td class="row-msg"></td>
        </tr>
    </tbody>
</table>

<div class="select-box" style="margin-top: 400px;">
    <div class="input-box">
        <input type="text" />
    </div>
    <div class="modal-flatest-container put-down" style="width: 180px; height: 230px;">
        <div class="select-content common-content pipeline-content">
            
            <div class="content-group">
                <div class="group-title">阿童木大战阿拉丁</div>
                <table class="table-fixed pipeline-body">
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                </table>
            </div>
            <hr class="line-separator">

            <div class="content-group">
                <div class="group-title">全部项目</div>
                <table class="table-fixed pipeline-body">
                    <tr>
                        <td><span style="background: red;"></span></td>
                        <td>待编译</td>
                    </tr>
                    <tr>
                        <td><span style="background: purple;"></span></td>
                        <td>说明书</td>
                    </tr>
                </table>
            </div>
            <hr class="line-separator">

            <div class="content-group">
                <div class="group-title">全部项目</div>
                <table class="table-fixed pipeline-body">
                    <tr>
                        <td><span style="background: red;"></span></td>
                        <td>待编译</td>
                    </tr>
                    <tr>
                        <td><span style="background: purple;"></span></td>
                        <td>说明书</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>




    <div class="modal-flatest-container put-down" style="width: 180px; height: 230px; left: 300px;">
        <div class="select-content common-content pipeline-content">
            
                <table class="table-fixed pipeline-body">
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                    <tr>
                        <td><span></span></td>
                        <td>开发</td>
                    </tr>
                    <tr>
                        <td><span style="background: green;"></span></td>
                        <td>文案撰写</td>
                    </tr>
                </table>


        </div>
    </div>
</div>




<div class="select-box" style="margin-top: 500px;">
    <div class="input-box">
        <input type="text" />
    </div>
    <div class="modal-flatest-container put-down" style="width: 150px; height: 130px;">
        <div class="select-content common-content">
            <table class="table-fixed status-body status-col-2">
                <tr>
                    <td><i class="fa fa-fw fa-stop"></i></td>
                    <td>暂停</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-play"></i></td>
                    <td>进行中</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-undo"></i></td>
                    <td>完成</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-play"></i></td>
                    <td>进行中</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fw fa-undo"></i></td>
                    <td>完成</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="select-box" style="margin-top: 200px;">
    <div class="input-box">
        <input type="text" />
    </div>
    <div class="modal-flatest-container put-down" style="width: 150px; height: 130px;">
        <div class="select-content common-content">
            <table class="table-fixed">
                <tr>
                    <td>暂停</td>
                </tr>
                <tr>
                    <td>进行中</td>
                </tr>
                <tr>
                    <td>完成</td>
                </tr>
                <tr>
                    <td>进行中</td>
                </tr>
                <tr>
                    <td>完成</td>
                </tr>
            </table>
        </div>
    </div>
</div>




