<div class="ll-layout">
    <div class="ll-header-box"></div>
    <div class="ll-page-nav-box"></div>
    <div class="ll-tools-box"></div>
    <div class="ll-main-box">
        <div class="ll-left-container"></div>
        <div class="ll-main-container">
            <div class="detail-container">
                <div class="detail-top-container">图片、名字。。。</div>
                <div class="detail-tabs">tabs</div>
                <div class="detail-main-container">
                    一行一行的内容
                </div>
            </div>
        </div>
    </div>
</div>