<div id="undo-box" class="alert-box alert-undo" *ngIf="hideMsg">
    <span class="_msg"><i class="fa fa-check-circle"></i> 负责人被修改</span>
    <a class="_undo">撤销</a>
    <a class="_close" (click)="hideMsg = false"><i class="fa fa-remove"></i></a>
</div>
<div id="error-box" class="alert-box alert-error" *ngIf="hideErr">
    <span class="_msg"><i class="fa fa-warning"></i> 负责人被修改</span>
    <a class="_close" (click)="hideErr = false"><i class="fa fa-remove"></i></a>
</div>
<div class="ll-layout">
    <div class="ll-header-box">
        <div class="topbar-container">
            <div class="ll-brand">LLGUN</div>
            <div class="_navbar">
                <ul class="_main-box">
                    <li><a routerLink="inbox"><i class="fa fa-inbox"></i>收件箱</a></li>
                    <li><a routerLink="inbox"><i class="fa fa-tasks"></i>我的任务</a></li>
                    <li showproject>
                        <a (click)="showproject = !showproject" routerLink="inbox"><i class="fa fa-video-camera"></i>项目<i class="fa fa-caret-down"></i></a>
                        <div *ngIf="showproject" class="modal-normal-container put-down _root-level _project">
                            <ul class="_normal scroll-box">
                                <li class="_project-item">
                                    <div class="_avatar"></div>
                                    <a class="_title" href="javascript:;">蜘蛛侠大战阿凡达ng来给截下字数</a>
                                    <i class="_sub-btn fa fa-caret-right"></i>
                                    <div *ngIf="false" class="modal-normal-container _sub-level">
                                        <ul class="_normal">
                                            <li><a href="javascript:;">adfaf</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="_project-item">
                                    <div class="_avatar"></div>
                                    <a class="_title" href="javascript:;">蜘蛛侠大战阿凡达ng来给截下字数</a>
                                    <i class="_sub-btn fa fa-caret-right"></i>
                                </li>
                                <li class="_project-item">
                                    <div class="_avatar"></div>
                                    <a class="_title" href="javascript:;">蜘蛛侠大战阿凡达ng来给截下字数</a>
                                    <i class="_sub-btn fa fa-caret-right"></i>
                                </li>
                                <li class="_project-item">
                                    <div class="_avatar"></div>
                                    <a class="_title" href="javascript:;">蜘蛛侠大战阿凡达ng来给截下字数</a>
                                    <i class="_sub-btn fa fa-caret-right"></i>
                                </li>
                                <li class="_project-item">
                                    <div class="_avatar"></div>
                                    <a class="_title" href="javascript:;">蜘蛛侠大战阿凡达ng来给截下字数</a>
                                    <i class="_sub-btn fa fa-caret-right"></i>
                                </li>
                                <li class="_project-item">
                                    <div class="_avatar"></div>
                                    <a class="_title" href="javascript:;">蜘蛛侠大战阿凡达ng来给截下字数</a>
                                    <i class="_sub-btn fa fa-caret-right"></i>
                                </li>
                                <li class="_project-item">
                                    <div class="_avatar"></div>
                                    <a class="_title" href="javascript:;">蜘蛛侠大战阿凡达ng来给截下字数</a>
                                    <i class="_sub-btn fa fa-caret-right"></i>
                                </li>
                                <li class="_project-item">
                                    <div class="_avatar"></div>
                                    <a class="_title" href="javascript:;">蜘蛛侠大战阿凡达ng来给截下字数</a>
                                    <i class="_sub-btn fa fa-caret-right"></i>
                                </li>
                                <li class="_project-item">
                                    <div class="_avatar"></div>
                                    <a class="_title" href="javascript:;">蜘蛛侠大战阿凡达ng来给截下字数</a>
                                    <i class="_sub-btn fa fa-caret-right"></i>
                                </li>
                                <li class="_project-item">
                                    <div class="_avatar"></div>
                                    <a class="_title" href="javascript:;">蜘蛛侠大战阿凡达ng来给截下字数</a>
                                    <i class="_sub-btn fa fa-caret-right"></i>
                                </li>
                                <li class="_project-item">
                                    <div class="_avatar"></div>
                                    <a class="_title" href="javascript:;">蜘蛛侠大战阿凡达ng来给截下字数</a>
                                    <i class="_sub-btn fa fa-caret-right"></i>
                                    <div style="left: 606px; top: 120px;" class="modal-normal-container _sub-level">
                                        <ul class="_normal">
                                            <li><a href="javascript:;">adfaf</a></li>
                                            <li><a href="javascript:;">adfaf</a></li>
                                            <li><a href="javascript:;">adfaf</a></li>
                                            <li><a href="javascript:;">adfaf<i class="_sub-btn fa fa-caret-right"></i></a>
                                                <div style="left: 745px; top: 120px;" class="modal-normal-container _sub-level">
                                                    <ul class="_normal">
                                                        <li><a href="javascript:;">adfaf</a></li>
                                                        <li><a href="javascript:;">adfaf</a></li>
                                                        <li><a href="javascript:;">adfaf</a></li>
                                                        <li><a href="javascript:;">adfaf</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <div>
                                <hr class="line-separator">
                                <a class="_all-project" href="javascript:;">全部项目</a>
                            </div>
                        </div>
                    </li>
                    <li shownormal><a (click)="shownormal = !shownormal" class="active" routerLink="inbox"><i class="fa fa-sliders"></i>设置</a>
                        <div *ngIf="shownormal" class="modal-normal-container put-down _root-level">
                            <ul class="_normal">
                                <li>
                                    <a class="active" routerLink="setting/">
                                        备份 <i class="_sub-btn fa fa-caret-right"></i>
                                    </a>
                                    <div class="modal-normal-container _sub-level">
                                        <ul class="_normal">
                                            <li><a href="javascript:;">adfaf</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a routerLink="inbox"><i class="fa fa-newspaper-o"></i>公告</a></li>
                    <li><a routerLink="inbox"><i class="fa fa-wrench"></i>自定义</a></li>
                </ul>
                <ul class="_user-box">
                    <li><a routerLink="inbox">自定义</a></li>
                    <li showlogout class="_user">
                        <a (click)="showlogout = !showlogout" routerLink="inbox">
                            <div class="_avatar" style="background-image('/assets/style/tmpImg/detail-p1.png');"></div>英俊<i class="fa fa-caret-down"></i>
                            <div *ngIf="showlogout" class="modal-normal-container put-down _root-level">
                                <ul class="_normal">
                                    <li>
                                        <a routerLink="setting/">退出</a>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="ll-page-nav-box">
        <div class="project-bar-container">
            <div class="project-title">恐龙特级克塞</div>
            <div class="_nav-box">
                <ul>
                    <li><a>项目主页</a></li>
                    <li><a class="active">任务</a></li>
                    <li><a>资产</a></li>
                    <li><a>镜头</a></li>
                    <li><a>版本</a></li>
                    <li><a>序列</a></li>
                </ul>
            </div>
            <div class="_tools-box">
                <div class="search-box" [class.active]="isActive"><i class="fa fa-search"></i><input type="text" (focus)="isActive=true" (blur)="isActive=false"></div>
            </div>
        </div>
    </div>

    <div class="ll-page-title-box">
        <div class="page-bar-container clearfix">
            <div class="_current-title">项目资产</div>
            <div class="_tools-box">
                <a routerLink="/layout"><i class="fa fa-table"></i></a>
                <a routerLink="/layout"><i class="fa fa-th"></i></a>
                <a routerLink="/layout" class="active"><i class="fa fa-list"></i></a>
            </div>
        </div>
    </div>

    <div class="ll-tools-box">
        <div class="tools-bar-container">
            <div class="_btn">
                <a routerLink="/home"><i class="fa fa-sort-alpha-asc icon-blue"></i>排序<i class="fa fa-angle-down"></i></a>
            </div>
            <div class="_btn">
                <a routerLink="/home"><i class="fa fa-sort-alpha-asc icon-blue"></i>高级分组<i class="fa fa-angle-down"></i></a>
            </div>
            <div showmingzi class="_btn _no-icon">
                <a (click)="showmingzi = !showmingzi" routerLink="/home">名字<i class="fa fa-angle-down"></i></a>
                <div *ngIf="showmingzi" class="modal-flatest-container put-down" style="width: 150px; height: 130px;">
                    <div class="select-content common-content">
                        <table class="table-fixed status-body status-col-3">
                            <tr>
                                <td><i class="fa fa-fw fa-stop"></i></td>
                                <td>stp</td>
                                <td>暂停</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-fw fa-play"></i></td>
                                <td>pl</td>
                                <td>进行中</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-fw fa-undo"></i></td>
                                <td>fin</td>
                                <td>完成</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-fw fa-play"></i></td>
                                <td>pl</td>
                                <td>进行中</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-fw fa-undo"></i></td>
                                <td>fin</td>
                                <td>完成</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ll-main-box">
        <div class="ll-left-container">
            <div class="ll-drag-line" appDragSetWidth></div>
            <div style="position: absolute; left:0; top: 0; right: 0; bottom: 0;">
                <tree-root class="ll-side-tree" #tree id="treeDetail" [focused]="true" [nodes]="treeDataSource" [options]="treeOptions">
                    <ng-template #treeNodeTemplate let-node let-index="index">
                        <span (click)="node.toggleActivated(true)" *ngIf="node.data.name" class="tree-title-content">{{ node.data.name }} <span style="font-weight: normal; margin-left: 1em;">( 10 )</span></span>
                        <div *ngIf="node.data.name == undefined">
                            <div class="tree-item-container">
                                <div class="tree-img-box">
                                    <img [src]="node.data.imgUrl" />
                                </div>
                                <div class="tree-msg-box">
                                    <span class="_type"><i class="{{node.data.entity_type_icon}}"></i> {{node.data.entity_type}}</span>
                                    <span class="_content">{{node.data.content}}</span>
                                    <span class="_time">{{node.data.created_at}}</span>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </tree-root>
            </div>
        </div>
        <div class="ll-main-container">
            <div class="detail-container">
                <div class="detail-top-container">
                    <div class="detail-top-content">
                        <div class="_thumbnail">
                            <thumbnail [notShowThumFiels]="true"></thumbnail>
                        </div>
                        <div class="thumbnial-msg">
                            <div class="_title"><a href="javascript:;">奥特曼大战蜘蛛侠</a></div>
                            <div class="_msg _type"><i class="fa fa-cube"></i>资产</div>
                            <div class="_msg clearfix">
                                <span class="ll-label">
                                    <i class="fa fa-user"></i>
                                    <span>刘大宝</span>
                                </span>
                                <span class="ll-label">
                                    <i class="fa fa-user"></i>
                                    <span>刘大宝</span>
                                </span>
                                <span class="ll-label">
                                    <i class="fa fa-user"></i>
                                    <span>刘大宝</span>
                                </span>
                                <span class="ll-label">
                                    <i class="fa fa-user"></i>
                                    <span>刘大宝</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-tabs">
                    <div class="detail-tabs-container">
                        <ul>
                            <li><a class="active" href="javascript:;">资产详情</a></li>
                            <li><a href="javascript:;">任务列表</a></li>
                            <li><a href="javascript:;">版本</a></li>
                            <li><a href="javascript:;">关联镜头</a></li>
                        </ul>
                    </div>
                </div>
                <div class="detail-main-container">
                    一行一行的内容
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showproject" class="top-nav-mask"></div>
</div>
