<table *ngFor="let row of allFields" class="table-fixed form-row error-row">
    <tbody>
        <tr>
            <td class="row-title">{{ row }}</td>
            <td>
                <app-string-input></app-string-input>
            </td>
            <!-- <td class="row-msg"><div class="error-msg" title="this is big problem!"><i class="fa fa-info"></i></div></td> -->
        </tr>
        <tr>
            <td></td>
            <td><div class="error-msg"><i class="fa fa-info-circle"></i> 错误信息</div></td>
        </tr> 
    </tbody>
</table>
