<div class="ll-modal-body note-modal-body">
    <div class="content-group">
        <div class="_title">
            <table class="table-fixed form-row select-row">
                <tr>
                    <td class="row-title"><i class="fa fa-pencil"></i></td>
                    <td>
                        <div class="select-box">
                            <div class="input-box only-showing"><span>这里是标题</span></div>
                        </div>
                    </td>
                    <td *ngIf="false">
                        <div class="input-box"><input type="text"></div>
                    </td>
                </tr>
            </table>
        </div>
        <!--<div class="note-label-row">-->
            <!--<span class="ll-label">-->
                <!--<i class="fa fa-user"></i>-->
                <!--<span>刘大宝</span>-->
            <!--</span>-->
            <!--<table class="table-fixed form-row select-row">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td class="row-title"><i class="fa fa-pencil"></i></td>-->
                    <!--<td>-->
                        <!--<div class="select-box">-->
                            <!--<div _ngcontent-c10="" class="input-box only-showing">-->
                                <!--<i _ngcontent-c10="" class="fa fa-star"></i>-->

                                <!--<span _ngcontent-c10="">整个地方不是input了</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td *ngIf="false">-->
                        <!--<div class="input-box"><input type="text"></div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <div class="qc-msg-item">  <!-- qc-msg-item qc-reply-item -->
            <div class="qc-writer">
                <div class="avatar"><img src="../../assets/style/images/img.jpg" alt="头像"></div>
                <div class="_name"><span>刘大宝</span><span class="_data-val">2000-10-10</span></div>
                <div class="_date">

                    <table class="table-fixed form-row select-row">
                        <tbody>
                        <tr>
                            <td class="row-title"><i class="fa fa-pencil"></i></td>
                            <td>
                                <div class="select-box">
                                    <div _ngcontent-c10="" class="input-box only-showing">
                                        <i _ngcontent-c10="" class="fa fa-star"></i>

                                        <span _ngcontent-c10="">整个地方不是input了</span>
                                    </div>
                                </div>
                            </td>
                            <td *ngIf="false">
                                <div class="input-box"><input type="text"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="_obj">
                    <span class="ll-label">
                        <i class="fa fa-user"></i>
                        <span>刘大宝</span>
                    </span>
                    <span class="ll-label">
                        <i class="fa fa-user"></i>
                        <span>刘大宝</span>
                    </span>
                    <span class="ll-label">
                        <i class="fa fa-user"></i>
                        <span>刘大宝</span>
                    </span>
                    <span class="ll-label">
                        <i class="fa fa-user"></i>
                        <span>刘大宝</span>
                    </span>
                    <span class="ll-label">
                        <i class="fa fa-user"></i>
                        <span>刘大宝</span>
                    </span>
                    <span class="ll-label">
                        <i class="fa fa-user"></i>
                        <span>刘大宝</span>
                    </span>
                </div>
            </div>
            <button class="btn"><i class="fa fa-pencil"></i> 编辑</button>
            <div class="qc-content">
                <p>定义和用法. :nth-child(n) 选择器匹配属于其父元素的第N 个子元素，
                <p>定义和用法. :nth-child(n) 选择器匹配属于其父元素的第N 个子元素，定义和用法. :nth-child(n) 选择器匹配属于其父元素的第N 个子元素，定义和用法. :nth-child(n) 选择器匹配属于其父元素的第N 个子元素，</p>
            </div>
            <div class="reply-count-msg" title="控制是否显示回复的行"><a>共 <span class="count">3</span> 个回复 <i class="fa fa-angle-double-down"></i></a></div>
        </div>
        <div title="如果需要控制下面这些回复整体显示隐藏，可以加这个div，原来是没有的">
            <div class="qc-msg-item qc-reply-item">  <!-- qc-msg-item qc-reply-item -->
                <div class="qc-writer">
                    <div class="avatar"><img src="../../assets/style/images/img.jpg" alt="头像"></div>
                    <div class="_name"><span>刘大宝</span></div>
                    <div class="_date"><span>2000-10-10</span></div>
                </div>
                <button class="btn"><i class="fa fa-pencil"></i> 编辑</button>
                <div class="qc-content">
                    <p>asfasf</p>
                </div>
            </div>
            <div class="qc-msg-item qc-reply-item qc-msg-last">  <!-- qc-msg-item qc-reply-item -->
                <div class="qc-writer">
                    <div class="avatar"><img src="../../assets/style/images/img.jpg" alt="头像"></div>
                    <div class="_name"><span>刘大宝</span></div>
                    <div class="_date"><span>2000-10-10</span></div>
                </div>
                <button class="btn"><i class="fa fa-pencil"></i> 编辑</button>
                <div class="qc-content">
                    <p>asfasf</p>
                </div>
            </div>
        </div>
        <button class="reply-qc-btn">回复 <i class="fa fa-angle-double-up"></i></button>
        <div class="_editor">
            <div title="组件包裹">
                <div title="富文本编辑器" style="height: 80px; background:#fff; border: 1px solid #d1d1d1;"></div>
                <div title="富文本footer" style="height: 30px; background:#f9f9f9; border: 1px solid #d1d1d1; border-top: none;"></div>
                <div title="上传附件部分" class="upload-box" *ngIf="isShowFile">
                    <div class="select-file-btns">
                        <div class="_btn _rice-textarea-btn"><i class="fa fa-paperclip"></i> 选择上传文件 <div id="picker" title="这就是他自动来的那个" class="webuploader-container">asdfafdsa</div></div>
                        <div class="_btn _clip-cvs-btn"><i class="fa fa-cut"></i> 截取当前画面</div>
                        <div class="_btn _upload-it cannt-click"><i class="fa fa-upload"></i> 上传</div>
                    </div>

                    <div><span><i class="fa fa-paperclip"></i> 共有 2 个文件</span></div>

                    <div>
                        <table class="add-version-uploadfile-list">
                            <thead>
                            <tr>
                                <th></th>
                                <th>文件名称</th>
                                <th>大小</th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>

                        <div>
                            <table class="add-version-uploadfile-list">
                                <tr>
                                    <td>
                                        <div class="_progress-bar">
                                            <div style="width: 50%;" class="_uploaded"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>238282035223238282035223238282035223238282035223(3).jpg</div>
                                    </td>
                                    <td>342k</td>
                                    <td><a><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="_progress-bar">
                                            <div style="width: 20%;" class="_uploaded"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>238282035223(3).jpg</div>
                                    </td>
                                    <td>342k</td>
                                    <td><a><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="_progress-bar">
                                            <div style="width: 90%" class="_uploaded"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>238282035223238282035223(3).jpg</div>
                                    </td>
                                    <td>342k</td>
                                    <td><a><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="_progress-bar">
                                            <div style="width: 73%" class="_uploaded"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>238282035223(3).jpg</div>
                                    </td>
                                    <td>342k</td>
                                    <td><a><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="_progress-bar">
                                            <div class="_uploaded"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>238282035223(3).jpg</div>
                                    </td>
                                    <td>342k</td>
                                    <td><a><i class="fa fa-times"></i></a></td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

            <div title="footer部分" class="reply-footer">
                <div class="_btn _show-file" (click)="isShowFile = !isShowFile"><i class="fa fa-paperclip"></i></div>
                <div class="_btn _cut-vdo"><i class="fa fa-cut"></i></div>
                <div class="_btn">取消</div>
                <div class="_btn"><i class="fa fa-paper-plane"></i> 确定</div>
            </div>
        </div>
    </div>
    <div class="content-group">
        <div class="_title">
            <table class="table-fixed form-row select-row">
                <tr>
                    <td class="row-title"><i class="fa fa-pencil"></i></td>
                    <td>
                        <div class="select-box">
                            <div class="input-box only-showing"><span>这里是标题</span></div>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="false" class="input-box"><input type="text"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="qc-msg-item">  <!-- qc-msg-item qc-reply-item -->
            <div class="qc-writer">
                <div class="avatar"><img src="../../assets/style/images/img.jpg" alt="头像"></div>
                <div class="_name"><span>刘大宝</span></div>
                <div class="_date"><span>2000-10-10</span></div>
            </div>
            <button class="btn"><i class="fa fa-pencil"></i> 编辑</button>
            <div class="qc-content">
                <p>定义和用法. :nth-child(n) 选择器匹配属于其父元素的第N 个子元素，
                <p>定义和用法. :nth-child(n) 选择器匹配属于其父元素的第N 个子元素，定义和用法. :nth-child(n) 选择器匹配属于其父元素的第N 个子元素，定义和用法. :nth-child(n) 选择器匹配属于其父元素的第N 个子元素，</p>
            </div>
        </div>
        <div class="qc-msg-item qc-reply-item qc-msg-last">  <!-- qc-msg-item qc-reply-item -->
            <div class="qc-writer">
                <div class="avatar"><img src="../../assets/style/images/img.jpg" alt="头像"></div>
                <div class="_name">创建人: <span>刘大宝</span></div>
                <div class="_date"><span>2000-10-10</span></div>
            </div>
            <button class="btn"><i class="fa fa-pencil"></i> 编辑</button>
            <div class="qc-content">
                <p>asfasf</p>
            </div>
        </div>
        <button class="reply-qc-btn">回复 <i class="fa fa-angle-double-up"></i></button>
        <div class="_editor" *ngIf="false"></div>
    </div>
</div>
