@import url('../../base');

@l1: #1c1c1c;
@l2: #555;
// @l3: #14424e;
// @l3-5: #8C9CA5;
@l4: #9FA5A8;
@l3: @l4;
@l3-5: @l4;



.blue-btn-face {
    // background: @color-active;
    // color: #fff;
    color: @color-active;
    background: #fff;
    border: 1px solid @color-active;
    min-width: 65px;
    color: @l3-5;
    border: 1px solid @l3-5;
    transition: all .3s;

    &:hover {
        border-color: @color-active - 20;
        // color: @color-active - 20;
        color: #fff;
        background: @color-active - 20;

    }
}

/*
 * 把 qc-msg-item.less 内容搬过来了
 */
 .qc-writer {
    position: relative;
    padding-left: 55px;
    margin-bottom: 5px;
    // padding-top: 10px;
    
    .avatar {
        position: absolute;
        left: 0;
        // top: 10px;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    ._name {
        font-size: 12px;
        line-height: 18px;
        padding-top: 2px;
        position: relative;
        color: @l4;

        span {
            // color: @l2;
            // color: @l3-5;
            // font-weight: 600;
        }

        span._data-val {
            margin-left: 10px;
            color: @l4;
            font-size: 10px;
            font-weight: 300;
        }
    }
    ._date {
        font-size: 10px;
        line-height: 18px;
        vertical-align: middle;
        // margin-bottom: 5px;
        
        span {
            vertical-align: middle;
        }
        
       
    }

}

.qc-msg-item {    
    position: relative;
    padding-left: 5px;
    border: none;
    
    // &:not(.qc-reply-item) {
    //     border-bottom: 1px solid #DEDEDE;
    // }
    // background: rgba(218, 222, 231, 0.3);
    // border-radius: 6px;
    
    &._editor {
        padding-top: 10px;
        height: 80px;
    }
    
    &.qc-msg-last {
        // margin-bottom: 20px;
        // border-bottom: 1px solid #d8d8d8;
    }
    
    .img-content {
        position: relative;
        display: inline-block;

        img,
        video {
            max-width: 100%;
            height: auto;
        }
    }

    .attachment-label {
        .ll-label {
            float: none;
            margin: 0 3px 3px 0;
            display: inline-block;
        }
    }
    
    .show-editing {

    }

    /* ._obj-container {
        position: relative;
        margin-left: -5px; */

        /* td.row-title {
            width: 20px;
            padding: 0;
            font-size: 12px;

            > .fa {
                position: absolute;
                left: 0;
                top: 2px;
                text-align: left;
            }
        } */

        /* .input-box {
            margin-left: 0;
        } */
        // padding-left: 25px;
        // margin-left: -5px;
        // padding-top: 5px;
        // padding-bottom: 5px;

        // &:hover,
        /* &.show-editing {
            // background: #fff;
            // box-shadow: 0 1px 0 #EBEDEF;
        } */

        // .remove-ll-label:hover {
        //     .fa {
        //         color: #fff;
        //     }
        // }
    // }
    // .can-edit-icon {
    //     position: absolute;
    //     left: 5px;
    //     top: 2px;
    //     color: #CCCFD1;
    // }
            
    

   

    .btn {
        position: absolute;
        right: 5px;
        height: 28px;
        // line-height: 28px;
        top: 6px;
        width: 65px;
        text-align: center;
        color: @l3-5;
        border: 1px solid @l3-5;
        border-radius: 4px;
        //background: #29862d;
        background: none;
        // color: @color-active;
        // padding: 0 10px;
        font-size: 14px;
        outline: none;

        & + .btn {
            margin-right: 68px;
        }
    }

    &:hover {
        .btn {
            background: @color-active;
            border-color: @color-active;
            color: #fff;

            
            &.delete-btn {
                background: @color-warning;
                border-color: @color-warning;
                // background: none;
                // border: 2px solid @color-warning;
                // color: @color-warning;
                // line-height: 26px;
            }

            &:hover {
                background: @color-active - 30;
            }

            &.delete-btn:hover {
                background: @color-warning - 30;
                // color: #fff;
            }
        }
    }

        
    &.qc-reply-item {
        // background: none;
        // border-radius: 0;
        padding-top: 6px;
        margin-left: 55px;
        border-top: 1px solid #DEDEDE;

        .qc-writer {
            @r: 28px;
            margin-bottom: -12px;
            padding-left: 40px;

            ._name {
                line-height: @r;
                padding: 0;
            }
            .avatar {
                width: @r;
                height: @r;
            }
        }
        
        .more-btn-box,
        .btn {
            // top: 20px;
        }

        .qc-content {
            // padding-top:0;
            padding-top: 18px;
            padding-bottom: 8px;
            // padding-bottom: 5px;

            // p {}
        }
    }

    
    .qc-content {
        position: relative;
        // padding-left: 55px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        // min-height: 24px;
        word-break: break-all;
        white-space: normal;

        color: @l1;
        // padding-bottom: 1em;
        font-size: 16px;
        // margin: -4px 0;
        margin: 0;
        line-height: 1.4em;
        word-break: break-all;
        white-space: normal;
        
        img,
        video {
            max-width: 100%;
            //width: 105px;
            height: auto;
            margin: 8px 0;
        }
    }
}

.qc-reply-item-list {
    margin-top: -20px;
}

.reply-count-msg {
    text-align: right;
    padding-right: 5px;
    // padding-bottom: 10px;
    margin-bottom: 22px;
    
    a {
        color: @color-active;
        cursor: pointer;
        
        &:hover {
            color: @color-active - 20;
        }
        
        .count {
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}


.reply-qc-link {

    outline: none;
    height: 20px;
    padding: 0 10px;
    font-size: 12px;
    margin-right: 5px;
    background: none;
    border-radius: 4px;
    position: relative;
    .blue-btn-face;
}
._editor {
    @bc: #d1d1d1; // border-color
    
    // margin-left: 10px;
    margin-top: 3px;
    margin-right: 5px;
    //margin-bottom: 10px;
    // margin-bottom: 30px;
    //border: 1px solid #ccc;
    
}

// player 页面的设置
.ll-player-msg {
    @l1: #1c1c1c;
    @l2: #555;
    @l3: #14424e;
    @l3-5: #8C9CA5;
    @l4: #9FA5A8;
    .qc-msg-item {
        position: relative;
        padding-left: 25px;
        
        &._editor {
            height: 80px;
        }
        
        &.qc-reply-item {
            padding-left: 80px;
        }

        
        .qc-writer {
            position: relative;
            height: 60px;
            padding-left: 55px;
            padding-top: 10px;
            
            .avatar {
                // position: absolute;
                // left: 0;
                // top: 10px;
                // width: 40px;
                // height: 40px;
                // border-radius: 50%;
                // overflow: hidden;
                
                // img {
                //     width: 100%;
                //     height: 100%;
                //     object-fit: cover;
                // }
            }
            
            ._name {
                margin-top: 2px;
                // font-size: 14px;
                color: #aaa;
                line-height: 20px;
                
                span {
                    color: @l2;
                    font-weight: 600;
                }
        
                span._data-val {
                    // position: absolute;
                    // right: 65px;
                    margin-left: 10px;
                    color: @l4;
                    font-size: 10px;
                    font-weight: 300;
                }
            }
            ._date {
                font-size: 10px;
                line-height: 20px;
                color: #777;
                
                span {
                    font-weight: 600;
                }
            }
        }
        
        .btn {
            position: absolute;
            right: 25px;
            height: 22px;
            top: 50 - 22px;
            background: #29862d;
            color: #eaeaea;
            padding: 0 10px;
            font-size: 12px;
            
            &:hover {
                background: #29862d + 30;
            }

        }
        
        .qc-content {
            position: relative;
            padding-left: 55px;
            padding-right: 25px;
            min-height: 24px;
            // add
            margin-top: 20px;

            color: @l1;
            // padding-bottom: 1em;
            font-size: 16px;
            margin: 1em 0;
            line-height: 28px;
            word-break: break-all;
            white-space: normal;

            background: #d7e0e621;
            
            // p {
            //     padding-bottom: 1em;
            //     font-size: 14px;
            //     margin: 5px 0;
                
            //     img,
            //     video {
            //         width: 105px;
            //         height: auto;
            //     }
            // }
        }
        
        .qc-msg-last {
            padding-bottom: 20px;
        }
        
    }
    .reply-qc-btn {
        margin-top: -25px;
        float: right;
        margin-right: 25px;
        clear: right;
        background: none;
        color: #999;
        position: relative;
        z-index: 100;
        
        &:hover {
            color: #CCCCCC;
            outline: none;
        }
    }
    
}
