<button style="display: none;" class="btn btn-primary" showThumbnail="false" (click)="showThumbnail = !showThumbnail">show it!</button>
<input hidden type="range" min="1" max="2.5" step="0.1" [(ngModel)]="curRange" name="thumbRange" >
<div class="thumbnail-container"  [style.width]="curRange * 180 + 'px'">
    <div class="thumbnail-img-box"  [style.height]="'calc(' + curRange * 180 * 9 / 16  + 'px)'">
        <div *ngIf="false" class="thumbnail-img-content" if="有图片"><img src="http://localhost:4200/assets/style/images/img2.jpg" alt="这个是图片"></div>
        <div class="thumbnail-noimg-content" if="没图片"><span><i class="fa fa-upload"></i><br>上传图片</span></div>
        <div class="thumbnail-tools active">
            <i class="fa fa-bars"></i>
            <div class="modal-flatest-container">
                <ul>
                    <li><i class="fa fa-fw fa-upload"></i> 更换封面</li>
                    <li><i class="fa fa-fw fa-remove"></i> 删除封面</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="thumbnail-fields-box" *ngIf="!notShowThumFiels">
        <div class="fields-item" *ngFor="let item of dataSource; let i = index;">
            <div *ngIf="item.show == '1'">
                <i class="fa fa-square"></i><span>{{ item?.name }}:</span>{{ item?.value }}
            </div>
        </div>
    </div>
</div>
