.put-up {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.put-down {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
* {
  box-sizing: border-box;
}
[lang="en"] {
  font: 12px/18px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font: 14px/24px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #14323A;
}
input,
textarea,
select,
button {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  font-size: inherit;
  color: inherit;
}
input[type="text"],
input[type="password"],
select,
textarea {
  outline: none;
  ime-mode: disabled;
}
._avatar {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightsteelblue;
}
.icon-blue {
  color: #50A6E1;
}
.input-active {
  border-color: #50A6E1 !important;
  box-shadow: 0 0 3px #50A6E1;
}
.input-active.ll-label-box {
  border: none;
  box-shadow: none;
}
.input-active.ll-label-box input[type="text"],
.input-active.ll-label-box input[type="password"] {
  border-color: #50A6E1 !important;
  box-shadow: 0 0 3px #50A6E1;
}
button {
  border: 0;
  padding: 0;
  cursor: pointer;
}
button.more-fields {
  background: none;
  margin-right: 10px;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.btn {
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #111;
  background: #fff;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}
.btn.btn-default {
  background: #fff;
  color: #14323A;
  border-color: #14323A;
}
.btn.btn-default:hover {
  color: #14323A;
}
.btn.btn-primary {
  background: #50A6E1;
  border-color: #0293DD;
}
.btn.btn-primary:hover {
  background: #0293DD;
}
table,
table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}
table.table-fixed {
  table-layout: fixed;
}
input {
  font: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #14323A;
}
td {
  vertical-align: middle;
}
.checkbox-row {
  color: inherit;
}
.checkbox-row input[type="checkbox"] {
  border-color: red;
}
.ll-modal-body .more-fields {
  margin-left: 8em;
}
.ll-layout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ll-header-box {
  position: relative;
  height: 36px;
  background: #24292E;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  z-index: 400;
}
.ll-header-box a {
  color: #f0f0f0;
  text-decoration: none;
}
.ll-page-nav-box {
  position: relative;
  z-index: 390;
  height: 32px;
  border-bottom: 1px solid #B0BECC;
  background: #CAD3DC;
  box-shadow: inset 0 3px 5px rgba(63, 87, 103, 0.05), inset 0 -3px 6px rgba(63, 87, 103, 0.05);
}
.ll-page-title-box {
  position: relative;
  height: 42px;
  background: #fff;
  border-bottom: 1px solid #DEE4E9;
  z-index: 380;
}
.ll-tools-box {
  position: relative;
  z-index: 370;
  height: 32px;
  background: #F5F5F5;
  border-bottom: 1px solid #8C9CA5;
}
.ll-main-box {
  position: absolute;
  top: 142px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: #fff;
}
.ll-left-container {
  position: relative;
  flex: 0 1 300px;
  border-right: 1px solid #B3B6B9;
  overflow: hidden;
  background: #F8F8F8;
}
.ll-left-container .ll-drag-line {
  position: absolute;
  right: -1px;
  width: 3px;
  background: transparent;
  border-right: 1px solid #14323A;
  top: 0;
  bottom: 0;
  z-index: 100;
  cursor: col-resize;
  opacity: 0;
}
.ll-main-container {
  position: relative;
  flex: 1 1 auto;
}
.topbar-container {
  display: flex;
  height: 34px;
  line-height: 34px;
}
.topbar-container .ll-brand {
  flex: 0 1 130px;
  margin-left: 15px;
  font-size: 24px;
  font-family: "Arial Black", sans-serif;
  color: #D9D9D9;
  box-sizing: border-box;
}
.topbar-container .ll-brand:hover {
  color: #fff;
  text-shadow: 0 0 4px #50A6E1;
}
.topbar-container ._navbar {
  position: relative;
  flex: auto;
}
.topbar-container ._navbar a {
  color: #b4b9bb;
}
.topbar-container ._navbar a .fa-caret-down {
  margin-left: 5px;
}
.topbar-container ._navbar ._main-box,
.topbar-container ._navbar ._user-box {
  height: 34px;
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}
.topbar-container ._navbar ._main-box > li,
.topbar-container ._navbar ._user-box > li {
  position: relative;
  display: inline-block;
  font-size: 14px;
}
.topbar-container ._navbar ._main-box > li > a,
.topbar-container ._navbar ._user-box > li > a {
  display: inline-block;
  padding: 0 15px;
  border: 1px solid transparent;
  border-width: 0 1px;
  cursor: pointer;
}
.topbar-container ._navbar ._main-box > li > a:hover,
.topbar-container ._navbar ._user-box > li > a:hover,
.topbar-container ._navbar ._main-box > li > a.active,
.topbar-container ._navbar ._user-box > li > a.active {
  background: #2F363D;
  border-color: #000;
}
.topbar-container ._navbar ._main-box > li > a:hover .fa:not(.fa-caret-down),
.topbar-container ._navbar ._user-box > li > a:hover .fa:not(.fa-caret-down),
.topbar-container ._navbar ._main-box > li > a.active .fa:not(.fa-caret-down),
.topbar-container ._navbar ._user-box > li > a.active .fa:not(.fa-caret-down) {
  color: #50A6E1;
}
.topbar-container ._navbar ._main-box > li > a .fa:not(.fa-caret-down),
.topbar-container ._navbar ._user-box > li > a .fa:not(.fa-caret-down) {
  transform: scale(1.3);
  margin-right: 7px;
}
.topbar-container ._navbar ._main-box > li > a .fa:not(.fa-caret-down).fa-tasks,
.topbar-container ._navbar ._user-box > li > a .fa:not(.fa-caret-down).fa-tasks,
.topbar-container ._navbar ._main-box > li > a .fa:not(.fa-caret-down).fa-newspaper-o,
.topbar-container ._navbar ._user-box > li > a .fa:not(.fa-caret-down).fa-newspaper-o {
  transform: scale(1.1);
}
.topbar-container ._navbar ._user-box {
  position: absolute;
  right: 0;
  top: 0;
}
.topbar-container ._navbar ._user-box ._user {
  position: relative;
}
.topbar-container ._navbar ._user-box ._user > a {
  padding-left: 45px;
}
.topbar-container ._navbar ._user-box ._user ._avatar {
  position: absolute;
  left: 15px;
  top: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.top-nav-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 391;
}
.modal-normal-container {
  position: absolute;
  left: 0;
  top: 100%;
  width: 140px;
  min-height: 160px;
  max-height: 500px;
  background: #fff;
  border: 1px solid #80898E;
  border-bottom-color: #5a6469;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.13), 0 10px 26px rgba(0, 0, 0, 0.25);
}
.modal-normal-container hr.line-separator {
  height: 1px;
  border: none;
  margin: 0 0 5px 0;
  background: #D1D8DE;
}
.topbar-container .modal-normal-container {
  border-radius: 4px;
}
.topbar-container .modal-normal-container._project {
  width: auto;
  min-width: 150px;
  max-width: 400px;
}
.topbar-container .modal-normal-container._project .scroll-box {
  max-height: 400px;
  min-height: 220px;
  overflow: auto;
  overflow-x: hidden;
}
.topbar-container .modal-normal-container._project .modal-normal-container {
  position: fixed;
}
.topbar-container .modal-normal-container._project ._avatar {
  position: absolute;
  left: 15px;
  top: 8px;
  width: 64px;
  height: 36px;
}
.topbar-container .modal-normal-container._project a._all-project {
  display: block;
  line-height: 28px;
  height: 28px;
  padding-left: 15px;
  margin-bottom: 5px;
  color: #14323A;
}
.topbar-container .modal-normal-container._project a._all-project:hover {
  color: #fff;
  background: #50A6E1;
}
.topbar-container .modal-normal-container._project ._project-item {
  height: 52px;
}
.topbar-container .modal-normal-container._project ._project-item:hover {
  color: #fff;
  background: #50A6E1;
}
.topbar-container .modal-normal-container._project ._project-item a._title {
  padding-left: 90px;
  line-height: 52px;
  padding-right: 24px;
  color: inherit;
  background: none;
  height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topbar-container .modal-normal-container._project ._project-item ._sub-btn {
  position: absolute;
  right: 10px;
  top: 20px;
}
.topbar-container .modal-normal-container._sub-level {
  left: 100%;
  top: -6px;
  width: auto;
  min-width: 140px;
  max-width: 240px;
  height: auto;
  min-height: 20px;
  max-height: 400px;
}
.topbar-container .modal-normal-container ul {
  padding: 5px 0;
  margin: 0;
  list-style: none;
}
.topbar-container .modal-normal-container ul._normal > li {
  line-height: 28px;
  height: 28px;
}
.topbar-container .modal-normal-container ul._normal a {
  display: block;
  height: inherit;
  padding-left: 15px;
  padding-right: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.topbar-container .modal-normal-container ul._normal a ._sub-btn {
  position: absolute;
  right: 10px;
  top: 6px !important;
}
.topbar-container .modal-normal-container ul._normal a:hover,
.topbar-container .modal-normal-container ul._normal a.active {
  color: #fff;
  background: #50A6E1;
}
.topbar-container .modal-normal-container ul li {
  position: relative;
}
.topbar-container .modal-normal-container ul a {
  color: #14323A;
}
._user-box .modal-normal-container._root-level {
  right: 0;
  left: unset;
  height: auto;
  min-height: 0;
}
.project-bar-container {
  position: relative;
  display: flex;
  height: 32px;
  line-height: 32px;
  font-size: 0;
}
.project-bar-container .project-title {
  margin-left: 15px;
  margin-right: 30px;
  font-size: 18px;
  color: #111;
}
.project-bar-container ._nav-box {
  height: 32px;
  flex: auto;
}
.project-bar-container ._nav-box ul {
  margin: 0;
  padding: 0;
  height: 32px;
  list-style: none;
}
.project-bar-container ._nav-box ul > li {
  display: inline-block;
  font-size: 14px;
}
.project-bar-container ._nav-box ul > li > a {
  display: inline-block;
  padding: 0 15px;
  color: #111;
  border: 1px solid transparent;
  border-width: 0 1px;
  cursor: pointer;
  text-decoration: none;
}
.project-bar-container ._nav-box ul > li > a:hover,
.project-bar-container ._nav-box ul > li > a.active {
  background-color: #97a7bb;
  border-color: #8396a7;
  box-shadow: inset 0 3px 5px rgba(63, 87, 103, 0.05), inset 0 -3px 6px rgba(63, 87, 103, 0.05);
}
.project-bar-container ._tools-box {
  position: absolute;
  right: 15px;
  top: 6px;
}
.project-bar-container .search-box {
  position: relative;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #b2bfca;
  border-radius: 10px;
  overflow: hidden;
}
.project-bar-container .search-box.active {
  border-color: #50A6E1;
  box-shadow: 0 0 3px #50A6E1;
}
.project-bar-container .search-box.active .fa-search {
  color: #50A6E1;
}
.project-bar-container .search-box.active input[type="text"] {
  color: #14323A;
}
.project-bar-container .search-box input[type="text"] {
  height: 20px;
  padding-left: 20px;
  border: none;
  color: #9FA5A8;
}
.project-bar-container .search-box .fa-search {
  position: absolute;
  left: 5px;
  top: 3px;
  color: #9FA5A8;
}
.page-bar-container {
  height: 42px;
  line-height: 42px;
}
.page-bar-container ._current-title {
  float: left;
  margin-left: 15px;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 200;
}
.page-bar-container ._tools-box {
  float: left;
  display: flex;
  height: 20px;
  line-height: 20px;
  margin-top: 11px;
  border-radius: 4px;
  background: #E0E5EA;
  overflow: hidden;
}
.page-bar-container ._tools-box a {
  flex: 1 1 24px;
  padding: 0 6px;
  font-size: 12px;
  color: #3F5767;
  text-align: center;
}
.page-bar-container ._tools-box a:first-child {
  padding-left: 8px;
}
.page-bar-container ._tools-box a:last-child {
  padding-right: 8px;
}
.page-bar-container ._tools-box a:hover,
.page-bar-container ._tools-box a.active {
  color: #fff;
  background: #50A6E1;
}
.tools-bar-container {
  height: 32px;
  line-height: 28px;
  padding-left: 15px;
}
.tools-bar-container a {
  text-decoration: none;
}
.tools-bar-container ._btn {
  display: inline-block;
  position: relative;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}
.tools-bar-container ._btn._no-icon a {
  padding-left: 10px;
}
.tools-bar-container ._btn a {
  display: inline-block;
  height: 22px;
  background: #fff;
  border: 1px solid #E1E4E8;
  border-radius: 4px;
  padding: 0 5px;
  color: #3F5767;
}
.tools-bar-container ._btn a .fa {
  margin: 0 5px;
}
.tools-bar-container ._btn a:hover {
  border-color: #CCCFD1;
}
.tools-bar-container ._btn a:hover .fa-angle-down {
  color: #50A6E1;
}
.tools-bar-container ._btn._first {
  margin-left: 15px;
}
.detail-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.detail-top-container {
  flex: 0 1 240px;
}
.detail-tabs {
  flex: 0 1 32px;
  border-top: 1px solid #D1D8DE;
  border-bottom: 1px solid #D1D8DE;
}
.detail-tabs-container {
  height: 32px;
  line-height: 32px;
}
.detail-tabs-container a {
  text-decoration: none;
}
.detail-tabs-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
.detail-tabs-container ul li {
  display: inline-block;
  font-size: 14px;
}
.detail-tabs-container ul li:first-child {
  margin-left: 30px;
}
.detail-tabs-container ul li a {
  display: inline-block;
  padding: 0 15px;
  color: #14323A;
}
.detail-tabs-container ul li a:hover,
.detail-tabs-container ul li a.active {
  background: #50A6E1;
  color: #fff;
}
.detail-main-container {
  flex: 1 1 auto;
  overflow: auto;
  background: #F8F8F8;
}
.detail-content {
  height: auto;
  margin-left: 30px;
  margin-top: 30px;
  max-width: 700px;
}
.detail-content .form-row {
  margin-bottom: 1px;
  box-shadow: 0 1px 0 #EBEDEF;
}
.detail-content .form-row > tbody {
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}
.detail-content .form-row.error-row {
  margin-bottom: 1px;
}
.detail-content .form-row .row-title {
  white-space: nowrap;
}
.detail-content .form-row .error-msg {
  margin-left: 20px;
}
.detail-content .form-row:hover {
  background: #fff;
}
.detail-content .form-row:hover:after {
  background: #fff;
}
.detail-top-content {
  position: relative;
  padding: 30px 0 0 30px;
  font-size: 0;
}
.detail-top-content ._thumbnail {
  position: absolute;
  left: 30px;
  top: 30px;
  height: 160px;
}
.detail-top-content ._thumbnail .thumbnail-container {
  margin: 0 !important;
  font-size: 14px;
}
.detail-top-content .thumbnial-msg {
  height: 160px;
  margin-top: 10px;
  margin-left: 310px;
  font-size: 14px;
}
.detail-top-content .thumbnial-msg ._title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.2em;
}
.detail-top-content .thumbnial-msg ._title a {
  color: #14323A;
}
.detail-top-content .thumbnial-msg ._title a:hover {
  color: #50A6E1;
  text-decoration: none;
}
.detail-top-content .thumbnial-msg ._msg {
  margin-bottom: 5px;
  font-size: 14px;
  color: #81878B;
}
.detail-top-content .thumbnial-msg ._msg._type .fa {
  margin-right: 5px;
}
.detail-top-content .thumbnial-msg ._msg .ll-label {
  padding-right: 5px;
  border-color: #D1D8DE;
}
.modal-context-container {
  position: fixed;
  width: 210px;
  border-radius: 4px;
  background: #fff;
  box-sizing: content-box;
  width: 150px;
  z-index: 1000;
}
.modal-context-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: #fff;
  z-index: -1;
}
.modal-context-container:before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -2;
  border-radius: inherit;
  border-bottom: 1px solid #81878B;
  background: linear-gradient(#D0D0D0, #A1A8AC 30px, #A1A8AC 80%, #B3B9BD);
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.13), 0 5px 12px 0 rgba(0, 0, 0, 0.25);
}
.modal-context-container hr.line-separator {
  height: 1px;
  border: none;
  margin: 5px 0;
  background: #D1D8DE;
}
.cmenu-item {
  height: 24px;
  line-height: 24px;
  padding-left: 15px;
  padding-right: 10px;
  cursor: default;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cmenu-item:hover:not(.cannt-click) {
  color: #fff;
  background: #50A6E1;
}
.cmenu-item.cannt-click {
  color: #CCCFD1;
}
.modal-context-container > .cmenu-item:first-child {
  margin-top: 5px;
}
.modal-context-container > .cmenu-item:last-child {
  margin-bottom: 3px;
}
.modal-flatest-container {
  position: absolute;
  width: 210px;
  border-radius: 4px;
  background: #fff;
  box-sizing: content-box;
}
.modal-flatest-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: #fff;
  z-index: -1;
}
.modal-flatest-container:before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -2;
  border-radius: inherit;
  border-bottom: 1px solid #81878B;
  background: linear-gradient(#D0D0D0, #A1A8AC 30px, #A1A8AC 80%, #B3B9BD);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.13), 0 4px 5px 0 rgba(0, 0, 0, 0.25);
}
.common-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  line-height: 24px;
  border-radius: inherit;
  overflow: auto;
  overflow-x: hidden;
  text-align: left;
  color: #14323A;
}
.common-content .check-td {
  padding-left: 25px;
  position: relative;
  width: 25px;
}
.common-content .check-td i {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: inherit;
  line-height: inherit;
  text-align: center;
  color: #00B577;
}
.common-content .check-td i.fa-circle {
  transform: scale(0.6);
}
.common-content > table {
  width: 100%;
  margin: 5px 0;
}
.common-content > table:last-child {
  margin-bottom: 3px;
}
.common-content > table tr > td {
  white-space: nowrap;
}
.common-content > table tr > td:first-child {
  padding-left: 15px;
}
.common-content > table tr > td:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}
.common-content tr.row-selected {
  background: #EBEDEF;
}
.common-content tr.cannt-click {
  color: #CCCFD1;
}
.common-content tr:hover:not(.cannt-click),
.common-content tr.hover-row {
  cursor: default;
  color: #fff;
  background: #50A6E1;
}
.common-content tr:hover:not(.cannt-click) > .check-td i,
.common-content tr.hover-row > .check-td i {
  color: #fff !important;
}
.common-content tr.more-right-triangle > td:last-child {
  position: relative;
}
.common-content tr.more-right-triangle > td:last-child:after {
  position: absolute;
  top: 0;
  right: 10px;
  font-family: FontAwesome;
  content: '\f0da';
  color: inherit;
}
.common-content .content-group > table {
  width: 100%;
}
.common-content .content-group .group-title {
  padding-left: 15px;
  font-size: 12px;
  font-weight: 600;
  color: #9FA5A8;
  background: #eaeaea;
}
.common-content .content-group .pipeline-body tr td:first-child {
  padding-left: 20px;
}
.common-content .content-group .pipeline-body tr td:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-content .content-group .content-group .group-title {
  padding-left: 25px;
  background: #f5f5f5;
}
.common-content .content-group .content-group .pipeline-body tr td:first-child {
  padding-left: 30px;
}
.common-content > .content-group {
  margin: 5px 0;
}
.common-content > .content-group:last-child {
  margin-bottom: 3px;
}
.common-content hr.line-separator {
  height: 1px;
  border: none;
  margin: 0;
  background: #D1D8DE;
}
.pipeline-body {
  width: 100%;
}
.pipeline-body tr:hover td:first-child > span,
.pipeline-body tr.hover-row td:first-child > span,
.pipeline-body tr:hover td:first-child > i,
.pipeline-body tr.hover-row td:first-child > i {
  border-color: #fff;
}
.pipeline-body tr td:first-child {
  box-sizing: content-box;
  width: 15px;
  padding-left: 25px;
}
.pipeline-body tr td:first-child > span,
.pipeline-body tr td:first-child > i {
  display: inline-block;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #9FA5A8;
  background: orange;
}
.select-box {
  position: relative;
}
.select-box .modal-flatest-container {
  left: 2px;
  top: 100%;
  height: 350px;
  z-index: 199;
}
.detail-content .select-box .modal-flatest-container {
  left: 22px;
}
.select-box .select-content {
  border-radius: inherit;
}
.modal-container .modal-content {
  position: relative;
  text-align: left;
  border-radius: 4px;
  border-bottom: 1px solid #686e71;
  background: #fff;
}
.modal-container .modal-content::after {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 4px;
  z-index: -1;
  background: linear-gradient(#D0D0D0, #8C9295 30px, #8C9295 80%, #B3B9BD);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13), 0 20px 33px rgba(0, 0, 0, 0.39);
}
.modal-container .modal-header {
  position: relative;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.modal-container .modal-header > span:first-child {
  color: #14323A;
  font-weight: 600;
}
.modal-container .modal-header .close-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  background: #E30000;
}
.modal-container .modal-content-simple {
  width: 490px;
  height: 380px;
}
.modal-container .modal-content-simple .modal-body {
  padding: 25px 0;
}
.jqx-window.jqx-widget-content {
  text-align: left;
  border-radius: 4px;
  border: none;
  background: #fff;
  overflow: unset;
}
.jqx-window.jqx-widget-content:after {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 4px;
  border-bottom: 1px solid #686e71;
  z-index: -1;
  background: linear-gradient(#D0D0D0, #8C9295 30px, #8C9295 80%, #B3B9BD);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13), 0 20px 33px rgba(0, 0, 0, 0.39);
}
.jqx-window.jqx-widget-content > div:last-child {
  border-radius: 0 0 4px 4px;
}
.jqx-window .ll-modal-header {
  height: 30px;
  line-height: 30px;
  border-radius: 4px 4px 0 0;
  padding: 0 0 0 10px;
}
.jqx-window .ll-modal-header .ll-modal-header-icon {
  color: #0293DD;
  transform: scale(1.2);
  margin-right: .5em;
}
.jqx-window .ll-modal-header .ll-modal-header-icon.icon-combo {
  height: 1em;
  width: 1em;
  line-height: 1em;
  vertical-align: text-top;
}
.jqx-window .ll-modal-header .ll-modal-header-icon .icon-combo-main {
  transform: scale(0.8);
}
.jqx-window .ll-modal-header .ll-modal-header-icon .icon-combo-symbol {
  transform: scale(0.7);
  left: unset;
  right: -7px;
  bottom: -5px;
  color: #45b307;
}
.jqx-window .ll-modal-header > div:first-child {
  color: #14323A;
  font-weight: 600;
  font-size: 15px;
}
.jqx-window .ll-modal-header .jqx-window-close-button-background {
  top: 7px;
  right: 10px !important;
  width: 14px !important;
  height: 14px !important;
  border-radius: 50%;
  overflow: hidden;
}
.jqx-window .ll-modal-header .jqx-window-close-button {
  background: url('assets/style/images/modal-close.png') 50% 50% no-repeat transparent;
}
.jqx-window .ll-modal-header .jqx-window-close-button-hover {
  background: url('assets/style/images/modal-close-hover.png') 50% 50% no-repeat #E30000;
}
.jqx-window .ll-modal-main {
  position: relative;
  padding: 0;
  border: none;
  overflow: hidden;
}
.jqx-window .ll-modal-main:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  height: 25px;
  background: linear-gradient(#ffffff 20%, rgba(255, 255, 255, 0));
  z-index: 1;
}
.jqx-window .ll-modal-main .ll-modal-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 55px;
  left: 0;
  font: inherit;
  padding: 25px 30px 25px 0;
  overflow: auto;
  overflow-x: hidden;
}
.jqx-window .ll-modal-main .ll-modal-body.sort-modal {
  left: 30px;
}
.jqx-window .ll-modal-main .ll-modal-body.sort-modal .table-fixed {
  width: 100%;
}
.jqx-window .ll-modal-main .ll-modal-body.sort-modal .table-fixed tr._header {
  font-weight: bold;
  border-bottom: 1px solid #B3B6B9;
}
.jqx-window .ll-modal-main .ll-modal-body.sort-modal .table-fixed tr:hover {
  background: #EBEDEF;
}
.jqx-window .ll-modal-main .ll-modal-body.sort-modal .table-fixed ._td1 {
  width: 18px;
  padding-left: 5px;
}
.jqx-window .ll-modal-main .ll-modal-body.sort-modal .table-fixed ._td1 i.fa {
  cursor: move;
  transform: scale(0.8);
}
.jqx-window .ll-modal-main .ll-modal-body.sort-modal .table-fixed ._td1 i.fa:hover {
  color: #50A6E1;
}
.jqx-window .ll-modal-main .ll-modal-body.sort-modal .table-fixed ._td2 {
  width: 30px;
  padding-right: 5px;
  text-align: right;
}
.jqx-window .ll-modal-main .ll-modal-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 55px;
  line-height: 55px;
  padding: 0 30px;
  text-align: right;
  border-top: 1px solid #D1D8DE;
  color: #14323A;
  background: #F8F8F8;
}
.jqx-window .ll-modal-main .ll-modal-footer ._btn {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}
.jqx-window .ll-modal-main .ll-modal-footer:after {
  position: absolute;
  content: '';
  top: -11px;
  left: 0;
  right: 20px;
  height: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  z-index: 1;
}
.jqx-window .ll-modal-main .ll-modal-footer > .checkbox-row {
  position: absolute;
  left: 30px;
  top: 0;
}
.jqx-window .ll-modal-main .btn {
  height: 28px;
  line-height: 28px;
}
.jqx-window-modal {
  background: #fff;
  opacity: .7 !important;
}
.form-row {
  width: 100%;
}
.ll-modal-body .form-row {
  margin-bottom: 5px;
}
.form-row.error-row {
  margin-bottom: 10px;
}
.form-row.error-row .input-box {
  border-color: #E30000;
  outline: 3px solid #F9DBDB;
  outline-style: double;
}
.form-row.error-row .input-box.only-showing {
  border-color: pink;
}
.detail-content .form-row.error-row .input-box {
  background: #F9DBDB;
}
.form-row.error-row .error-msg {
  padding-left: 5px;
  outline: 3px solid #F9DBDB;
  outline-style: double;
  background: #F9DBDB;
  color: #E30000;
}
.form-row td.row-title {
  position: relative;
  width: 11em;
  padding-right: 1em;
  text-align: right;
  vertical-align: top;
  color: #14323A;
}
[lang="en"] .form-row td.row-title {
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
  white-space: normal;
}
.form-row td.row-title > i.fa {
  position: absolute;
  right: -15px;
  top: 0;
  line-height: inherit;
  color: #CCCFD1;
}
.form-row td.row-msg {
  width: 30px;
  text-align: center;
  vertical-align: middle;
}
.form-row td.row-msg .error-msg {
  display: none;
  margin: 0 12px 0 auto;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  background: #9FA5A8;
  color: #fff;
}
.form-row td.row-msg .error-msg i.fa {
  font-size: 12px;
}
.input-box {
  position: relative;
  height: 24px;
  line-height: 24px;
  box-sizing: content-box;
  border-radius: 2px;
  border: 1px solid #B3B6B9;
}
.input-box.only-showing {
  border-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail-content .input-box {
  margin-left: 20px;
}
.input-box > span {
  padding-left: 5px;
  color: #14323A;
  white-space: nowrap;
}
.input-box > .fa-fw {
  width: auto;
}
.input-box > i {
  position: absolute;
  left: 5px;
  top: 0;
  line-height: 24px;
  color: #14323A;
}
.input-box > i + input[type="text"],
.input-box > i + input[type="password"],
.input-box > i + span {
  padding-left: 20px;
}
.input-box > i.input-ppl-color {
  display: inline-block;
  top: 7px;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #9FA5A8;
}
.input-box > input[type="text"],
.input-box > input[type="password"] {
  display: block;
  width: 100%;
  height: inherit;
  padding-left: 5px;
  border: none;
  border-radius: inherit;
  color: #14323A;
}
.ppl-body tr:hover .ppl-color > i {
  border-color: #fff;
}
.ppl-color {
  width: 15px;
}
.ppl-color > i {
  display: inline-block;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #9FA5A8;
  background: orange;
}
.status-body tr > td {
  box-sizing: content-box;
  overflow: hidden;
}
.status-body.status-col-3 tr > td:first-child {
  width: 15px;
  padding-right: 15px;
}
.status-body.status-col-3 tr > td:nth-child(2) {
  width: 35px;
}
.status-body.status-col-2 tr > td:first-child {
  width: 15px;
  padding-right: 15px;
}
.ll-label-box {
  background: #EBEDEF;
}
.ll-label-box.input-box {
  height: auto;
  border: none;
}
.ll-label-box.only-showing {
  background: transparent;
}
.ll-label-box input[type="text"],
.ll-label-box input[type="password"] {
  border: 1px solid #B3B6B9;
}
.ll-label-content {
  width: calc(100% + 2px);
  padding: 0 0 5px 5px;
  margin-left: -1px;
  margin-top: -1px;
  border: none;
  border-radius: 2px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.only-showing .ll-label-content {
  width: auto;
  margin: 0;
  border: none;
}
.ll-label {
  position: relative;
  display: block;
  float: left;
  height: 18px;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 4px;
  margin-top: 3px;
  border-radius: 9px;
  border: 1px solid #B3B6B9;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  background: #EBEDEF;
  cursor: default;
}
.ll-label:hover {
  background: #fff;
}
.only-showing .ll-label {
  padding-right: 10px;
}
.only-showing .ll-label .remove-ll-label {
  display: none;
}
.ll-label > i {
  position: absolute;
  left: 5px;
  top: 0;
  line-height: inherit;
}
.ll-label > span {
  display: inline-block;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #14323A;
}
.ll-label > .remove-ll-label {
  position: absolute;
  right: 3px;
  top: 2px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  border-radius: 50%;
  background: none;
}
.ll-label > .remove-ll-label:hover {
  color: #fff;
  background: #E30000;
}
.tree {
  cursor: auto;
}
.node-content-wrapper:hover,
.node-content-wrapper-active,
.node-content-wrapper-focused {
  background: none !important;
  box-shadow: none !important;
}
.ll-side-tree {
  background: #F8F8F8;
}
.ll-side-tree .node-content-wrapper:hover,
.ll-side-tree .node-content-wrapper-active,
.ll-side-tree .node-content-wrapper-focused {
  background: none !important;
  box-shadow: none !important;
}
.ll-side-tree .toggle-children {
  transform: rotate(0);
  background: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #6C7C84;
}
.ll-side-tree .toggle-children::before {
  content: '\f0da';
}
.ll-side-tree .toggle-children-wrapper-expanded .toggle-children {
  transform: rotate(0);
}
.ll-side-tree .toggle-children-wrapper-expanded .toggle-children::before {
  content: '\f0d7';
}
.ll-side-tree .tree-node-leaf.tree-node-active.tree-node-focused {
  background: #50A6E1;
  border: 1px solid #0293DD;
}
.ll-side-tree .tree-node-leaf.tree-node-active.tree-node-focused .node-wrapper {
  background: #50A6E1;
  border: none;
}
.ll-side-tree .tree-node-leaf.tree-node-active.tree-node-focused .node-content-wrapper {
  background: #50A6E1;
}
.ll-side-tree .tree-node-leaf.tree-node-active.tree-node-focused ._type {
  color: #CCCFD1;
}
.ll-side-tree .tree-node-leaf.tree-node-active.tree-node-focused ._content {
  color: #fff;
}
.ll-side-tree .tree-node-leaf.tree-node-active.tree-node-focused ._time {
  color: #CCCFD1;
}
.ll-side-tree .tree-node-leaf .node-wrapper {
  height: auto;
  background: #F8F8F8;
  font-size: 14px;
  font-weight: normal;
}
.ll-side-tree .tree-node-leaf .toggle-children-placeholder {
  display: none;
}
.ll-side-tree .toggle-children-wrapper {
  display: inline-block;
  width: 18px;
  text-align: center;
  padding: 0;
}
.ll-side-tree .toggle-children {
  top: -1px;
}
.ll-side-tree .node-content-wrapper {
  width: 100%;
  padding: 0;
  border: none;
}
.ll-side-tree .node-drop-slot {
  height: 0;
}
.ll-side-tree .node-wrapper {
  height: 24px;
  line-height: 24px;
  background: #EBEDEF;
  border-bottom: 1px solid #D1D8DE;
  font-size: 12px;
  font-weight: 600;
}
.ll-side-tree .node-wrapper:hover {
  background: rgba(255, 255, 255, 0.9);
}
.ll-side-tree .tree-item-container {
  display: flex;
  height: 63px;
  padding-left: 5px;
}
.ll-side-tree .tree-item-container .tree-img-box {
  flex: 0 0 99px;
  position: relative;
}
.ll-side-tree .tree-item-container .tree-img-box > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.ll-side-tree .tree-item-container .tree-msg-box {
  flex: 1 1 auto;
  padding-left: 10px;
  line-height: 18px;
  position: relative;
}
.ll-side-tree .tree-item-container .tree-msg-box > span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ll-side-tree .tree-item-container .tree-msg-box ._type {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #6C7C84;
}
.ll-side-tree .tree-item-container .tree-msg-box ._content {
  position: absolute;
  left: 10px;
  right: 0;
  top: 25px;
}
.ll-side-tree .tree-item-container .tree-msg-box ._time {
  margin-top: 22px;
  margin-right: -5px;
  font-size: 12px;
  text-align: right;
  color: #81878B;
  transform: scale(0.85);
}
.range-container > * {
  line-height: 12px;
  font-size: 12px;
}
.range-container input[type="range"] {
  width: 150px;
  height: 10px;
  margin: 0 5px;
  background: #000;
}
.range-container input[type="range"]::-webkit-slider-thumb,
.range-container input[type="range"]::-ms-thumb,
.range-container input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: #81878B;
  border-radius: 50%;
  /*外观设置为圆形*/
  border: 1px solid #aaa;
  /*设置边框*/
}
.range-container ._plus,
.range-container ._minus {
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  color: #81878B;
}
.range-container ._plus:hover,
.range-container ._minus:hover {
  color: #14323A;
}
.alert-box {
  position: fixed;
  z-index: 99999;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  background: #00B577;
  color: #fff;
  border-radius: 12px;
  margin-top: 1px;
  font-size: 12px;
}
.alert-box ._msg {
  opacity: .8;
}
.alert-box ._undo {
  text-decoration: underline;
  margin-left: 10px;
}
.alert-box ._close {
  position: absolute;
  right: 5px;
  display: inline-block;
  border-radius: 100%;
  height: 1em;
  width: 1em;
  top: 4px;
  line-height: 1em;
}
.alert-box ._close:hover {
  background: #fff;
  color: #00B577;
}
.alert-box.alert-error {
  color: #fff;
  background: #E30000;
}
.alert-box.alert-error ._msg {
  opacity: 1;
}
.alert-box.alert-error ._msg .fa {
  color: #ffd253;
}
.alert-box.alert-error ._close:hover {
  background: #fff;
  color: #E30000;
}
