* {
  outline: none;
  box-sizing: border-box;
}
body {
  font: 14px/24px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #81878B;
}
input,
textarea,
select,
button {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  font-size: inherit;
  color: inherit;
}
button {
  border: 0;
  padding: 0;
  cursor: pointer;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.btn {
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #111;
  background: #fff;
  color: #fff;
  cursor: pointer;
}
.btn.btn-default {
  background: #fff;
  color: #81878B;
  border-color: #81878B;
}
.btn.btn-default:hover {
  color: #14323A;
}
.btn.btn-primary {
  background: #50A6E1;
  border-color: #0293DD;
}
.btn.btn-primary:hover {
  background: #0293DD;
}
table,
table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}
table.table-fixed {
  table-layout: fixed;
}
input {
  font: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #6C7C84;
}
td {
  vertical-align: middle;
}
.checkbox-row {
  color: inherit;
}
.checkbox-row input[type="checkbox"] {
  border-color: red;
}
.ll-modal-body .more-fields {
  margin-left: 8em;
}
.put-up {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.put-down {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.modal-flatest-container {
  position: fixed;
  min-width: 150px;
  border-radius: 4px;
  background: #fff;
  box-sizing: content-box;
}
.modal-flatest-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: #fff;
  z-index: -1;
}
.modal-flatest-container:before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -2;
  border-radius: inherit;
  border-bottom: 1px solid #81878B;
  background: linear-gradient(#D0D0D0, #A1A8AC 30px, #A1A8AC 80%, #B3B9BD);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.13), 0 4px 5px 0 rgba(0, 0, 0, 0.25);
}
.common-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  line-height: 24px;
  border-radius: inherit;
  overflow: auto;
  overflow-x: hidden;
  text-align: left;
  color: #14323A;
}
.common-content > table {
  width: 100%;
  margin: 5px 0;
}
.common-content > table:last-child {
  margin-bottom: 3px;
}
.common-content > table tr > td {
  white-space: nowrap;
}
.common-content > table tr > td:first-child {
  padding-left: 25px;
}
.common-content > table tr > td:first-child.check-td {
  position: relative;
  width: 25px;
}
.common-content > table tr > td:first-child.check-td i {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: inherit;
  line-height: inherit;
  text-align: center;
  color: #00B577;
}
.common-content > table tr > td:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}
.common-content tr.row-selected {
  background: #EBEDEF;
}
.common-content tr.cannt-click {
  color: #CCCFD1;
}
.common-content tr:hover:not(.cannt-click),
.common-content tr.hover-row {
  cursor: default;
  color: #fff;
  background: #50A6E1;
}
.common-content tr:hover:not(.cannt-click) > .check-td i,
.common-content tr.hover-row > .check-td i {
  color: #fff !important;
}
.common-content tr.more-right-triangle > td:last-child {
  position: relative;
}
.common-content tr.more-right-triangle > td:last-child:after {
  position: absolute;
  top: 0;
  right: 10px;
  font-family: FontAwesome;
  content: '\f0da';
  color: inherit;
}
.common-content .content-group .group-title {
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #9FA5A8;
}
.common-content .content-group .pipeline-body tr td:first-child {
  padding-left: 25px;
}
.common-content .content-group .pipeline-body tr td:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-content .content-group .content-group .group-title {
  padding-left: 25px;
}
.common-content .content-group .content-group .pipeline-body tr td:first-child {
  padding-left: 50px;
}
.common-content > .content-group {
  margin: 5px 0;
}
.common-content > .content-group:last-child {
  margin-bottom: 3px;
}
.common-content hr.line-separator {
  height: 1px;
  border: none;
  margin: 0;
  background: #D1D8DE;
}
.pipeline-body {
  width: 100%;
}
.pipeline-body tr:hover td:first-child > span,
.pipeline-body tr.hover-row td:first-child > span,
.pipeline-body tr:hover td:first-child > i,
.pipeline-body tr.hover-row td:first-child > i {
  border-color: #fff;
}
.pipeline-body tr td:first-child {
  box-sizing: content-box;
  width: 15px;
  padding-left: 25px;
}
.pipeline-body tr td:first-child > span,
.pipeline-body tr td:first-child > i {
  display: inline-block;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #9FA5A8;
  background: orange;
}
.select-box .modal-flatest-container {
  height: 350px;
  z-index: 199;
}
.select-box .select-content {
  border-radius: inherit;
}
.modal-container .modal-content {
  position: relative;
  text-align: left;
  border-radius: 4px;
  border-bottom: 1px solid #686e71;
  background: #fff;
}
.modal-container .modal-content::after {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 4px;
  z-index: -1;
  background: linear-gradient(#D0D0D0, #8C9295 30px, #8C9295 80%, #B3B9BD);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13), 0 20px 33px rgba(0, 0, 0, 0.39);
}
.modal-container .modal-header {
  position: relative;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.modal-container .modal-header > span:first-child {
  color: #14323A;
  font-weight: 600;
}
.modal-container .modal-header .close-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  background: #E30000;
}
.modal-container .modal-content-simple {
  width: 490px;
  height: 380px;
}
.modal-container .modal-content-simple .modal-body {
  padding: 25px 0;
}
.jqx-window.jqx-widget-content {
  text-align: left;
  border-radius: 4px;
  border: none;
  background: #fff;
  overflow: unset;
}
.jqx-window.jqx-widget-content:after {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 4px;
  border-bottom: 1px solid #686e71;
  z-index: -1;
  background: linear-gradient(#D0D0D0, #8C9295 30px, #8C9295 80%, #B3B9BD);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13), 0 20px 33px rgba(0, 0, 0, 0.39);
}
.jqx-window.jqx-widget-content > div:last-child {
  border-radius: 0 0 4px 4px;
}
.jqx-window .ll-modal-header {
  height: 30px;
  line-height: 30px;
  border: none;
  border-radius: 4px 4px 0 0;
  background: inherit;
  padding: 0 0 0 10px;
}
.jqx-window .ll-modal-header > div:first-child {
  color: #14323A;
  font-weight: 600;
}
.jqx-window .ll-modal-header .jqx-window-close-button-background {
  top: 7px;
  right: 10px !important;
  width: 14px !important;
  height: 14px !important;
  border-radius: 50%;
  overflow: hidden;
}
.jqx-window .ll-modal-header .jqx-window-close-button {
  background: url('assets/style/images/modal-close.png') 50% 50% no-repeat transparent;
}
.jqx-window .ll-modal-header .jqx-window-close-button-hover {
  background: url('assets/style/images/modal-close-hover.png') 50% 50% no-repeat #E30000;
}
.jqx-window .ll-modal-main {
  position: relative;
  padding: 0;
  border: none;
  overflow: hidden;
}
.jqx-window .ll-modal-main:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  height: 25px;
  background: linear-gradient(#ffffff 20%, rgba(255, 255, 255, 0));
  z-index: 1;
}
.jqx-window .ll-modal-main .ll-modal-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 55px;
  left: 0;
  font: inherit;
  padding: 25px 30px 25px 0;
  overflow: auto;
  overflow-x: hidden;
}
.jqx-window .ll-modal-main .ll-modal-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 55px;
  line-height: 55px;
  padding: 0 30px;
  text-align: right;
  border-top: 1px solid #D1D8DE;
  color: #6C7C84;
  background: #F8F8F8;
}
.jqx-window .ll-modal-main .ll-modal-footer:after {
  position: absolute;
  content: '';
  top: -11px;
  left: 0;
  right: 20px;
  height: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  z-index: 1;
}
.jqx-window .ll-modal-main .ll-modal-footer > .checkbox-row {
  position: absolute;
  left: 30px;
  top: 0;
}
.jqx-window .ll-modal-main .btn {
  height: 28px;
  line-height: 28px;
}
.jqx-window-modal {
  background: #fff;
  opacity: .7!important;
}
.form-row {
  width: 100%;
}
.ll-modal-body .form-row {
  margin-bottom: 5px;
}
.form-row.error-row {
  margin-bottom: 10px;
}
.form-row.error-row .input-box {
  border-color: #E30000;
  outline: 3px solid #F9DBDB;
  outline-style: double;
}
.form-row.error-row .input-box.only-showing {
  border-color: pink;
}
.detail-content .form-row.error-row .input-box {
  background: #F9DBDB;
}
.form-row.error-row .error-msg {
  padding-left: 5px;
  outline: 3px solid #F9DBDB;
  outline-style: double;
  background: #F9DBDB;
  color: #E30000;
}
.form-row td.row-title {
  position: relative;
  width: 8em;
  padding-right: 1em;
  text-align: right;
  vertical-align: top;
  color: #81878B;
}
[lang="en"] .form-row td.row-title {
  font-size: 13px;
  line-height: 16px;
  white-space: normal;
}
.form-row td.row-title > i.fa {
  position: absolute;
  right: -15px;
  top: 0;
  line-height: inherit;
  color: #CCCFD1;
}
.form-row td.row-msg {
  width: 30px;
  text-align: center;
  vertical-align: middle;
}
.form-row td.row-msg .error-msg {
  display: none;
  margin: 0 12px 0 auto;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  background: #9FA5A8;
  color: #fff;
}
.form-row td.row-msg .error-msg i.fa {
  font-size: 12px;
}
.input-box {
  position: relative;
  height: 24px;
  line-height: 24px;
  box-sizing: content-box;
  border-radius: 2px;
  border: 1px solid #B3B6B9;
}
.input-box.only-showing {
  border-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail-content .input-box {
  margin-left: 20px;
}
.input-box > span {
  padding-left: 5px;
  color: #14323A;
  white-space: nowrap;
}
.input-box > .fa-fw {
  width: auto;
}
.input-box > i {
  position: absolute;
  left: 5px;
  top: 0;
  line-height: 24px;
  color: #14323A;
}
.input-box > i + input[type="text"],
.input-box > i + span {
  padding-left: 20px;
}
.input-box > i.input-ppl-color {
  display: inline-block;
  top: 7px;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #9FA5A8;
}
.input-box > input[type="text"] {
  display: block;
  width: 100%;
  height: inherit;
  padding-left: 5px;
  border: none;
  border-radius: inherit;
  color: #14323A;
}
.ppl-body tr:hover .ppl-color > i {
  border-color: #fff;
}
.ppl-color {
  width: 15px;
}
.ppl-color > i {
  display: inline-block;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #9FA5A8;
  background: orange;
}
.status-body tr > td {
  box-sizing: content-box;
  overflow: hidden;
}
.status-body.status-col-3 tr > td:first-child {
  width: 15px;
  padding-right: 15px;
}
.status-body.status-col-3 tr > td:nth-child(2) {
  width: 35px;
}
.status-body.status-col-2 tr > td:first-child {
  width: 15px;
  padding-right: 15px;
}
.ll-label-box {
  background: #F8F8F8;
}
.ll-label-box.input-box {
  height: auto;
}
.ll-label-box.only-showing {
  background: transparent;
}
.ll-label-content {
  margin-top: 3px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.only-showing .ll-label-content {
  margin-top: 0;
}
.ll-label-content + input[type="text"] {
  border-top: 1px solid #B3B6B9;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ll-label {
  position: relative;
  display: block;
  float: left;
  height: 18px;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 4px;
  margin-top: 3px;
  border-radius: 9px;
  border: 1px solid #D1D8DE;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  background: #EBEDEF;
  cursor: default;
}
.ll-label:hover {
  background: #fff;
}
.only-showing .ll-label {
  padding-right: 10px;
}
.only-showing .ll-label .remove-ll-label {
  display: none;
}
.ll-label > i {
  position: absolute;
  left: 5px;
  top: 0;
  line-height: inherit;
}
.ll-label > span {
  display: inline-block;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #14323A;
}
.ll-label > .remove-ll-label {
  position: absolute;
  right: 3px;
  top: 2px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  border-radius: 50%;
  background: none;
}
.ll-label > .remove-ll-label:hover {
  color: #fff;
  background: #E30000;
}
.detail-container {
  position: relative;
  border: 1px solid #D1D8DE;
  background: #F8F8F8;
  overflow: auto;
}
.detail-content {
  position: absolute;
  left: 30px;
  top: 45px;
  right: 30px;
  height: auto;
  max-width: 700px;
}
.detail-content .form-row {
  margin-bottom: 1px;
  box-shadow: 0 1px 0 #EBEDEF;
}
.detail-content .form-row > tbody {
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}
.detail-content .form-row.error-row {
  margin-bottom: 0;
}
.detail-content .form-row .row-title {
  white-space: nowrap;
}
.detail-content .form-row .error-msg {
  margin-left: 20px;
}
.detail-content .form-row:hover {
  background: #fff;
}
.detail-content .form-row:hover:after {
  background: #fff;
}
