/*
    该文件主要定义结构，应该属于需要全局调用的样式文件，地位和原来的 glb.css 等同
*/
.put-up {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.put-down {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.clear:after {
  content: '';
  clear: both;
  display: table;
}
html,
body {
  font: 12px/20px -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  overflow: hidden;
}
::-webkit-scrollbar {
  background: rgba(16, 15, 17, 0.9);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
  border: 2px solid rgba(16, 15, 17, 0.9);
}
.ll-app-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #4e4c4e;
  color: rgba(255, 255, 255, 0.65);
}
.app-header__head-bar {
  display: flex;
  height: 66px;
  line-height: 42px;
  font-size: 14px;
  background: #4e4c4e;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
  z-index: 66;
}
.app-header__head-bar__main {
  flex: auto;
  flex-direction: column;
}
.app-header__head-bar__main .app-header__path-tools {
  flex: 0 0 25px;
  padding-bottom: 5px;
}
.app-header__head-bar__main .app-header__path-tools__home,
.app-header__head-bar__main .app-header__path-tools__prev,
.app-header__head-bar__main .app-header__path-tools__next,
.app-header__head-bar__main .app-header__path-tools__refresh {
  float: left;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  margin-top: 5px;
  line-height: 25px;
  cursor: pointer;
  transition: .3s;
}
.app-header__head-bar__main .app-header__path-tools__home.disabled,
.app-header__head-bar__main .app-header__path-tools__prev.disabled,
.app-header__head-bar__main .app-header__path-tools__next.disabled,
.app-header__head-bar__main .app-header__path-tools__refresh.disabled {
  color: rgba(255, 255, 255, 0.25);
  cursor: default;
}
.app-header__head-bar__main .app-header__path-tools__home:not(.disabled):hover,
.app-header__head-bar__main .app-header__path-tools__prev:not(.disabled):hover,
.app-header__head-bar__main .app-header__path-tools__next:not(.disabled):hover,
.app-header__head-bar__main .app-header__path-tools__refresh:not(.disabled):hover {
  background: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.8);
}
.app-header__head-bar__main .app-header__notice {
  float: right;
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}
.app-header__head-bar__main .app-header__notice .fa-bell {
  font-size: 17px;
}
.app-header__head-bar__main .app-header__notice.disabled {
  color: rgba(255, 255, 255, 0.25);
  cursor: default;
}
.app-header__head-bar__main .app-header__notice:not(.disabled):hover {
  background: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.8);
}
.app-header__path-tools {
  flex: 0 0 95px;
  padding: 0 10px;
  font-size: 20px;
}
.app-header__path-tools:after {
  content: '';
  clear: both;
  display: table;
}
.app-header__path-tools:after {
  content: '';
  clear: both;
  display: table;
}
.app-header__path-tools__home,
.app-header__path-tools__prev,
.app-header__path-tools__next,
.app-header__path-tools__refresh {
  float: left;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  margin-top: 17px;
  line-height: 25px;
  cursor: pointer;
  transition: .3s;
}
.app-header__path-tools__home.disabled,
.app-header__path-tools__prev.disabled,
.app-header__path-tools__next.disabled,
.app-header__path-tools__refresh.disabled {
  color: rgba(255, 255, 255, 0.25);
  cursor: default;
}
.app-header__path-tools__home:not(.disabled):hover,
.app-header__path-tools__prev:not(.disabled):hover,
.app-header__path-tools__next:not(.disabled):hover,
.app-header__path-tools__refresh:not(.disabled):hover {
  background: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.8);
}
.app-header__side-tools {
  flex: auto;
  display: flex;
  padding-right: 5px;
}
.app-header__side-tools__user {
  padding: 5px;
  padding-right: 10px;
  flex: 0 0 45px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.app-header__side-tools__user.side-tools__user--active {
  background: #3C3A3C;
}
.app-header__side-tools__user:hover img {
  opacity: .9;
}
.app-header__side-tools__user img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}
.app-header__side-tools__user .user__avatar {
  display: block;
  line-height: 50px;
}
.app-header__side-tools__user .user__menu {
  position: absolute;
  border-radius: 0 0 2px 2px;
  right: 0;
  top: 58px;
  width: 82px;
  z-index: 98;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  line-height: 1.8em;
  background: #4e4c4e;
  border: 1px solid rgba(255, 255, 255, 0.05);
  font-size: 12px;
}
.app-header__side-tools__user .user__menu__item {
  padding: 0 5px 0 8px;
  color: rgba(255, 255, 255, 0.65);
  transition: .3s;
}
.app-header__side-tools__user .user__menu__item:hover {
  color: #E6E6E6;
  background: #3C3A3C;
}
.app-header__side-tools__search-box {
  position: relative;
  flex: auto;
}
.app-header__action-tools {
  font-size: 13px;
}
.app-header__action-tools .app-btn:last-child {
  margin-right: 10px;
}
.app-task-content {
  display: flex;
  flex: auto;
  flex-direction: column;
}
app-my-task,
app-task-detail,
app-version-detail {
  display: flex;
  flex: auto;
  flex-direction: column;
}
.app-task-info {
  flex: 0 0 auto;
  padding: 15px 12px;
  background: rgba(0, 0, 0, 0.1);
  padding-right: 0;
}
.task-info__img-box {
  float: left;
  margin-right: 10px;
}
.task-info__info-list {
  overflow: hidden;
}
.app-home-nav {
  display: flex;
  flex: 0 0 36px;
  background: #3C3A3C;
  color: rgba(255, 255, 255, 0.65);
  line-height: 36px;
  padding: 0 12px;
  font-size: 12px;
  white-space: nowrap;
}
.home-nav__page-select {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.home-nav__toggle {
  position: absolute;
  border-radius: 0 0 2px 2px;
  left: -8px;
  top: 33px;
  width: 72px;
  z-index: 98;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  line-height: 1.8em;
  background: #4e4c4e;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.home-nav__toggle-item {
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.65);
  transition: .3s;
  padding-left: 8px;
}
.home-nav__toggle-item:not(.toggle-item--selected):hover {
  color: #E6E6E6;
  background: #3C3A3C;
}
.home-nav__toggle-item.toggle-item--selected {
  cursor: default;
  color: #4da7ff;
}
.home-nav__tabs {
  flex: auto;
  text-align: left;
}
.home-nav__tab {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  padding: 0 7px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: .3s;
}
.home-nav__tab:hover {
  border-bottom-color: rgba(0, 130, 255, 0.7);
}
.home-nav__tab--active {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  padding: 0 7px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: .3s;
  cursor: default;
  color: #339bff;
  border-bottom-color: #0082ff;
}
.task-container {
  flex: auto;
  overflow: auto;
  background: #222;
  padding: 10px 12px 40px;
}
.task-container:after {
  content: '';
  clear: both;
  display: table;
}
.task-container:after {
  content: '';
  clear: both;
  display: table;
}
.task-container .task-card {
  display: inline-block;
  text-align: left;
  margin: 8px;
}
.task-container .log-card {
  margin: 10px;
}
.task-info__label-links {
  overflow: hidden;
  margin-left: -2px;
}
.app-task-info .task-info__label-links {
  margin-top: 2px;
}
.label-link {
  float: left;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-size: 12px;
  height: 16px;
  line-height: 14px;
  padding: 0 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #80c0ff;
  cursor: pointer;
  min-width: 80px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px;
  transition: .3s;
}
.label-link:hover {
  background: #1a8eff;
  color: rgba(255, 255, 255, 0.8);
}
button {
  /* 按钮颜色 */
  /* 按钮大小 */
  /* 按钮形状 */
}
button.app-btn {
  border: none;
  padding: 0;
  font-family: inherit;
  transition: .3s;
}
button[data-type="primary"] {
  background: #0082ff;
  color: #fff;
}
button[data-type="primary"]:hover {
  background: #1a8eff;
}
button[data-type="warning"] {
  background: #ff4d4f;
  color: #fff;
}
button[data-type="warning"]:hover {
  background: #ff6768;
}
button[data-type="success"] {
  background: #7cb305;
  color: #fff;
}
button[data-type="success"]:hover {
  background: #8dcc06;
}
button[data-size="small"] {
  font-size: .85em;
  padding: 0 .45em;
  line-height: 1.5em;
}
button[data-size="normal"] {
  line-height: 1.85em;
  padding: 0 1em;
}
button[data-shape="round"] {
  border-radius: 100px;
}
button[data-shape="square"] {
  border-radius: 4px;
}
i.ppl-label-color {
  width: 8px;
  height: 8px;
  border: rgba(255, 255, 255, 0.3) 1px solid;
  left: 5px !important;
  top: 2px !important;
}
step-group-select input[type="text"] {
  padding-left: 0 !important;
}
step-group-select .ll-label > span {
  width: 90px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.add-panel step-group-select .form-row .input-box input[type="text"] {
  width: 100% !important;
}
.add-panel step-group-select .select-box {
  background: #353535 !important;
}
.table-fixed {
  table-layout: fixed;
}
.add-panel .select-box {
  position: relative;
}
.add-panel .container.put-down {
  left: unset !important;
}
table {
  border-spacing: 0;
}
.form-row {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}
.form-row td.row-title {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 1px;
}
.form-row .select-box .container {
  position: absolute;
  border-radius: 0 0 2px 2px;
  left: 0px;
  min-width: 128px;
  max-width: 360px;
  z-index: 98;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  line-height: 1.8em;
  background: #4e4c4e;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.form-row .select-box .container .item {
  padding: 0 8px;
  color: rgba(255, 255, 255, 0.65);
  transition: .3s;
  cursor: pointer;
}
.form-row .select-box .container .item:hover {
  color: #E6E6E6;
  background: #3C3A3C;
}
.form-row .input-box {
  border-color: #393739;
}
.form-row .input-box > i {
  color: inherit;
}
.form-row .input-box input[type="text"] {
  color: inherit;
}
.form-row .input-box input[type="text"]:focus {
  background: #2c2b2d;
}
.add-panel .form-row td.row-title {
  width: 4em !important;
  padding-top: 1px !important;
  color: rgba(255, 255, 255, 0.5);
}
.add-panel .form-row .input-box input[type="text"] {
  box-sizing: content-box;
  width: calc(100% - 8px);
  height: auto;
  line-height: 20px;
}
.add-panel .form-row .input-box input[type="text"]:focus {
  outline: none;
}
.add-panel .form-row .ll-label-box.input-box {
  background: none !important;
}
.add-panel .form-row .ll-label-box.input-box input[type="text"] {
  border-color: #393739 !important;
}
.add-panel .form-row .select-box .container {
  position: absolute !important;
  top: unset !important;
}
.status-select--insider .table-fixed {
  table-layout: unset;
}
.status-select--insider .row-title {
  width: 12px !important;
  text-align: left !important;
  padding: 0 !important;
}
.status-select--insider .row-title > i.fa {
  position: static !important;
  color: rgba(255, 255, 255, 0.25) !important;
  font-size: 12px !important;
}
.status-select--insider .row-title {
  width: 12px !important;
  text-align: left !important;
  padding: 0 !important;
}
.status-select--insider .row-title > i.fa {
  position: static !important;
  color: rgba(255, 255, 255, 0.25) !important;
  font-size: 12px !important;
}
.status-select--insider .row-title {
  width: 20px !important;
  text-align: center !important;
}
.status-select--insider .form-row .input-box {
  height: 20px !important;
  position: relative !important;
}
.status-select--insider .form-row .input-box > i {
  position: absolute !important;
  left: 2px !important;
  top: 5px;
}
.status-select--insider .form-row .input-box input[type="text"] {
  padding-left: 18px;
}
.status-select--insider .form-row .input-box.only-showing {
  padding-left: 20px;
}
.status-select--insider .form-row .input-box.only-showing > i {
  top: 7px;
}
.label-area--under-title {
  margin-top: -8px !important;
  margin-bottom: 20px !important;
}
.label-area--under-title .row-title {
  width: 12px !important;
  text-align: left !important;
  padding: 0 !important;
}
.label-area--under-title .row-title > i.fa {
  position: static !important;
  color: rgba(255, 255, 255, 0.25) !important;
  font-size: 12px !important;
}
.label-area--under-title .row-title {
  width: 12px !important;
  text-align: left !important;
  padding: 0 !important;
}
.label-area--under-title .row-title > i.fa {
  position: static !important;
  color: rgba(255, 255, 255, 0.25) !important;
  font-size: 12px !important;
}
.label-area--under-title .only-showing .ll-label-content {
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}
.ex-comment-card .subject {
  padding-bottom: 14px !important;
  padding-top: 5px;
}
.ex-comment-card .only-showing {
  border: none !important;
}
.ex-comment-card .content img {
  max-width: 100%;
}
.ex-comment-card .title {
  margin-left: 0 !important;
}
.ex-comment-card .title,
.ex-comment-card .title .input-box {
  font-size: 16px !important;
  height: 28px !important;
  line-height: 28px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 40px;
}
.ex-comment-card .title span,
.ex-comment-card .title .input-box span {
  color: rgba(255, 255, 255, 0.8) !important;
  padding-left: 0 !important;
  font-weight: normal !important;
}
.ex-comment-card .form-row .input-box input[type="text"] {
  background: #2c2b2d !important;
  font-weight: normal !important;
  font-size: inherit !important;
  border: none !important;
}
.ex-comment-card .form-row .input-box input[type="text"]:focus {
  background: rgba(16, 15, 17, 0.45) !important;
  outline: none;
}
.input-row-with-pencil .row-title {
  width: 12px !important;
  text-align: left !important;
  padding: 0 !important;
}
.input-row-with-pencil .row-title > i.fa {
  position: static !important;
  color: rgba(255, 255, 255, 0.25) !important;
  font-size: 12px !important;
}
.ll-label {
  float: left;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-size: 12px;
  height: 16px;
  line-height: 14px;
  padding: 0 18px 0 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #80c0ff !important;
  cursor: pointer;
  width: auto !important;
  max-width: unset !important;
  margin: 2px;
  transition: .3s;
}
.only-showing .ll-label {
  padding-right: 5px;
}
.ll-label > i {
  left: 2px;
}
.ll-label > span {
  color: inherit !important;
  margin-left: 14px;
  width: auto;
  min-width: 60px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ll-label:hover {
  background: #1a8eff;
  color: rgba(255, 255, 255, 0.8) !important;
}
.add-panel .input-box:not(.only-showing) .ll-label .remove-ll-label,
.ex-comment-card .input-box:not(.only-showing) .ll-label .remove-ll-label {
  position: absolute;
  right: 5px;
  top: -1px;
}
.add-panel .input-box:not(.only-showing) .ll-label > span,
.ex-comment-card .input-box:not(.only-showing) .ll-label > span {
  margin-right: 14px;
}
.add-panel .input-box .ll-label,
.ex-comment-card .input-box .ll-label {
  position: relative;
}
.add-panel .input-box .ll-label > i,
.ex-comment-card .input-box .ll-label > i {
  position: absolute;
  top: 1px;
}
.add-panel .input-box .ll-label > span,
.ex-comment-card .input-box .ll-label > span {
  display: block;
}
.label-box.download {
  overflow: hidden !important;
}
.label-box.download .label-box-title {
  color: rgba(255, 255, 255, 0.65) !important;
  float: left !important;
}
.some-links a {
  color: #80c0ff;
}
.some-links a:hover {
  color: #1a8eff;
}
.reply {
  margin: 0 12px;
}
.simple-editor {
  font-size: 12px;
  margin: 10px 12px;
}
.simple-editor__row {
  margin-top: 4px;
  overflow: hidden;
}
.simple-editor__title {
  color: rgba(255, 255, 255, 0.65);
}
.simple-editor__change-pro {
  float: right;
  color: #0082ff;
  cursor: pointer;
  line-height: 28px;
}
.simple-editor__input {
  color: rgba(255, 255, 255, 0.65);
  background: #2c2b2d;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  width: calc(100% - 60px);
  padding: 8px 5px;
  height: 32px;
  line-height: 14px;
  float: left;
}
.simple-editor__input:focus {
  background: rgba(16, 15, 17, 0.45);
}
.simple-editor__submit {
  height: 24px;
  width: 55px;
  text-align: center;
  float: right;
  background: #0082ff;
  color: #fff;
  line-height: 24px;
  border-radius: 4px;
  margin-top: 3px;
  cursor: pointer;
}
.simple-editor__submit:hover {
  background: #1a8eff;
}
.pro-editor {
  font-size: 12px;
  margin: 10px 12px;
}
.pro-editor__title {
  color: rgba(255, 255, 255, 0.65);
  overflow: hidden;
}
.pro-editor__change-simple {
  float: right;
  color: #0082ff;
  cursor: pointer;
  line-height: 28px;
}
.pro-editor__box {
  margin-top: 5px;
}
.title.title--not-edit {
  font-weight: normal !important;
}
.status-select---edit-box .input-box {
  position: relative;
}
.status-select---edit-box .input-box .fa {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}
.status-select---edit-box .input-box input[type="text"] {
  padding-left: 20px;
  width: calc(100% - 21px) !important;
}
.select-file-btns .webuploader-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}
.select-file-btns .webuploader-pick {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.select-file-btns .webuploader-pick + div {
  width: 100% !important;
  height: 100% !important;
}
table.add-version-uploadfile-list {
  table-layout: fixed;
  width: 100%;
}
table.add-version-uploadfile-list tr td:nth-child(1) {
  width: 45px;
}
table.add-version-uploadfile-list tr td:nth-child(3) {
  width: 80px;
}
table.add-version-uploadfile-list tr td:last-child {
  width: 30px;
  text-align: center;
}
table.add-version-uploadfile-list tr td:last-child a {
  color: #ff4d4f;
  cursor: pointer;
}
._editor {
  padding-top: 0;
}
._editor .reply-footer {
  overflow: hidden;
  border: 1px solid #393739;
  border-top: none;
}
._editor .reply-footer ._btn {
  float: right;
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
  background: #0082ff;
  transition: .3s;
}
._editor .reply-footer ._btn:hover {
  background: #1a8eff;
  color: #fff;
}
._editor .reply-footer ._btn._show-file {
  float: left;
  background: rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
._editor .cke_editable img {
  max-width: 100%;
}
.uploaded-box {
  overflow: hidden;
}
.ll-app-container .add-panel ._editor {
  padding-top: 0;
  border-radius: 2px;
}
.ll-app-container .add-panel ._editor .cke_top,
.ll-app-container .add-panel ._editor .cke_reset,
.ll-app-container .add-panel ._editor .upload-box {
  border-color: #393739;
}
.send-cc-div + ckeditor-component ._editor {
  margin-top: -10px;
}
.add-panel editor-ckeditor .form-row td.row-title {
  width: 0 !important;
}
.add-panel ._editor {
  padding-top: 10px;
}
.editor--in-string-input .row-title {
  width: 0 !important;
  padding: 0 !important;
}
.editor--in-string-input ._editor {
  margin-top: -11px;
}
.send-cc-div {
  padding: 12px;
}
.send-cc-div editor-group-select .form-row .row-title {
  width: 4em !important;
}
.send-cc-div editor-group-select .form-row .input-box input[type="text"] {
  padding: 3px 0 3px 5px !important;
}
._btn--disabled {
  opacity: .7;
  cursor: not-allowed;
}
/**** alert 中的input row */
.ex-alert__body editor-number-input table.form-row {
  width: 65% !important;
  margin: 20px auto 24px auto !important;
}
.ex-alert__body editor-number-input table.form-row .row-title {
  width: 3em !important;
  line-height: 22px !important;
  color: rgba(255, 255, 255, 0.65) !important;
}
.ex-alert__body editor-number-input table.form-row .input-box {
  background: rgba(0, 0, 0, 0.3) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  height: 22px !important;
  line-height: 22px !important;
}
.ex-alert__body editor-number-input table.form-row .input-box.input-active {
  background: rgba(0, 0, 0, 0.4) !important;
}
.ex-alert__body editor-number-input table.form-row .input-box input {
  background: none !important;
  border: none !important;
  color: inherit !important;
}
.task-info__state--waiting {
  vertical-align: middle;
}
.task-info__state--waiting label-dictionary-select .form-row {
  margin: 0 !important;
  width: 74px !important;
  font-size: 12px!important;
  font-family: inherit!important;
}
.task-info__state--waiting label-dictionary-select .input-box {
  position: relative !important;
}
.task-info__state--waiting label-dictionary-select .input-box.only-showing {
  font-family: inherit!important;
}
.task-info__state--waiting label-dictionary-select .input-box.only-showing > span {
  margin-left: 18px !important;
}
.task-info__state--waiting label-dictionary-select .input-box.only-showing > i.fa {
  top: 4px !important;
}
.task-info__state--waiting label-dictionary-select .input-box > i.fa {
  position: absolute !important;
  top: 3px !important;
  left: 1px !important;
  font-size: 12px!important;
}
.task-info__state--waiting label-dictionary-select .input-box input[type="text"] {
  padding-left: 18px !important;
  font-family: inherit!important;
}
.task-info__state--waiting label-dictionary-select .row-title {
  width: 13px !important;
  padding: 0 !important;
}
.task-info__state--waiting label-dictionary-select .row-title > i.fa {
  right: unset !important;
  left: 0 !important;
}
.notice__tab-pane__img-bg {
  background-position: center center;
  background-size: cover;
}
.notice__tab-pane__linear-bg {
  --pos: 30%;
  padding: 5px 16px;
  transition: 1s ease-in-out;
  background: linear-gradient(to right, rgba(44, 43, 45, 0.95) var(--pos), rgba(44, 43, 45, 0.25));
}
.notice__tab-pane__linear-bg:hover {
  --pos: 45%;
}
