<!--
在进行组件划分时需要注意：
- 用于布局的标签，不应该和内容作为同级划分到一个组件中：
  布局用的：app-header__path-tools，app-header__action-tools，
          app-header__side-tools，home-nav__item--current，task-container。。。。。。
-->


<div class="ll-app-container">



<!--&lt;!&ndash; 考虑多客户端，所以遗弃了一些之前的通用 class &ndash;&gt;-->
<!--<div class="app-header">-->
    <!--<div class="app-header__head-bar">-->
        <!--<div class="app-header__path-tools">-->
            <!--<div class="app-header__path-tools__home"><i class="fa fa-home"></i></div>-->
            <!--<div class="app-header__path-tools__prev disabled"><i class="fa fa-caret-left"></i></div>-->
            <!--<div class="app-header__path-tools__next"><i class="fa fa-caret-right"></i></div>-->
        <!--</div>-->
        <!--<div class="app-header__action-tools">-->
            <!--&lt;!&ndash; 这个地方没按钮的时候，可以像现在这样，里面内容为空就行了，如果硬要删掉也没关系 &ndash;&gt;-->
            <!--&lt;!&ndash;<button>开始审核</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button>审核通过</button>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="app-header__side-tools">-->
            <!--&lt;!&ndash; mod by yang, -start 2019/2/21 &ndash;&gt;-->
            <!--&lt;!&ndash; 独立出了search-box 组件 &ndash;&gt;-->
            <!--&lt;!&ndash; 说明：app-header__side-tools__search-box 是负责定位的，需要留在外面 &ndash;&gt;-->
            <!--&lt;!&ndash;<div class="app-header__side-tools__search-box"><input type="text" /><button class="app-header__side-tools__search-btn"><i class="fa fa-search"></i></button></div>&ndash;&gt;-->
            <!--<div class="app-header__side-tools__search-box">-->
                <!--<app-search-box></app-search-box>-->
            <!--</div>-->
            <!--&lt;!&ndash; mod -end 2019/2/21 &ndash;&gt;-->

            <!--&lt;!&ndash; 注销登录 - start &ndash;&gt;-->
            <!--&lt;!&ndash; 说明：本地增加了一个变量，当为true的时候，影响两个地方，通过 ngClass 和 ngIf 来控制的 ，请注意&ndash;&gt;-->
            <!--<div class="app-header__side-tools__user" [ngClass]="{ 'side-tools__user&#45;&#45;active': isShowUserMenu }">-->
                <!--&lt;!&ndash; 需要1个 a 标签？ 那就这样 &ndash;&gt;-->
                <!--<a class="user__avatar" (click)="isShowUserMenu = !isShowUserMenu"><img src="../../assets/style/images/img3.jpg" /></a>-->
                <!--<div class="user__menu" *ngIf="isShowUserMenu">-->
                    <!--<div class="user__menu__item"><i class="fa fa-sign-out"></i> 退出登录</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; 注销登录 - end &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!-- 0312 start -->
<!-- header 内容结构做了调整 -->
<div class="app-header">
    <div class="app-header__head-bar">
        <div class="app-header__head-bar__main">
            <div class="app-header__path-tools">
                <div class="app-header__path-tools__home"><i class="fa fa-home"></i></div>
                <div class="app-header__path-tools__prev disabled"><i class="fa fa-caret-left"></i></div>
                <div class="app-header__path-tools__next"><i class="fa fa-caret-right"></i></div>
                <div class="app-header__path-tools__refresh"><i class="fa fa-refresh"></i></div>
                <div class="app-header__notice">
                    <app-notice></app-notice>
                </div>
            </div>
            <div class="app-header__side-tools__search-box">
                <app-search-box></app-search-box>
            </div>
        </div>
        <div class="app-header__side-tools__user" [ngClass]="{ 'side-tools__user--active': isShowUserMenu }">
            <a class="user__avatar" (click)="isShowUserMenu = !isShowUserMenu"><img src="../../assets/style/images/img3.jpg" /></a>
            <div class="user__menu" *ngIf="isShowUserMenu">
                <div class="user__menu__item"><i class="fa fa-sign-out"></i> 退出登录</div>
            </div>
        </div>


    </div>
</div>
<!-- 0312 end -->


<!-- 20190213 这部分结构进行了调整，新增了布局标签 app-task-content -->
<div class="app-task-content">
    <!--  你的 <app-my-task> 从这里开始 -->
    <div class="app-home-nav">
        <div class="home-nav__page-select" (click)="toggle = !toggle">
            <div class="home-nav__item--current">我的任务 <i class="fa fa-caret-down"></i></div>
            <div *ngIf="toggle" class="home-nav__toggle">
                <div class="home-nav__toggle-item toggle-item--selected">我的任务</div>
                <div class="home-nav__toggle-item">我的审核</div>
            </div>
        </div>
        <div class="home-nav__tabs">
            <div (click)="currentTab = 'waiting'" class="home-nav__tab--active"
                 [ngClass]="{'home-nav__tab': currentTab !== 'waiting', 'home-nav__tab--active': currentTab === 'waiting'}"
            >未开始 (2)</div>
            <div (click)="currentTab = 'tasks'" class="home-nav__tab"
                 [ngClass]="{'home-nav__tab': currentTab !== 'tasks', 'home-nav__tab--active': currentTab === 'tasks'}"
            >进行中 (3)</div>
            <div (click)="currentTab = 'finished'"
                 [ngClass]="{'home-nav__tab': currentTab !== 'finished', 'home-nav__tab--active': currentTab === 'finished'}"
            >已完成 (77)</div>
        </div>
    </div>


    <div *ngIf="currentTab=='waiting'" class="task-container" style="text-align: center;">
        <div class="task-card task-card--selected" data-theme="dark">
            <div class="task-card__img-box">
                <span class="task-card__img-ctrl-btn"><i class="fa fa-search-plus"></i></span>
                <img src="../../assets/style/images/img2.jpg" alt="task face">
            </div>
            <div class="task-card__info">
                <div class="task-card__info-row">
                    <div class="task-card__title">任务的标题任务的标题任务的标题 任务的标题</div>
                    <div class="task-card__status--doing"><i class="fa fa-play"></i> 进行中</div>
                </div>
                <div class="task-card__info-row">
                    <div class="task-card__users">
                        <div class="task-card__avatar-list">
                            <div class="task-card__avatar-item"><img src="../../assets/style/images/img3.jpg" alt=""></div>
                            <div class="task-card__avatar-item"><img src="../../assets/style/images/img3.jpg" alt=""></div>
                            <div class="task-card__avatar-item"><img src="../../assets/style/images/img3.jpg" alt=""></div>
                            <div class="task-card__avatar-item"><img src="../../assets/style/images/img3.jpg" alt=""></div>
                            <div class="task-card__avatar-item"><img src="../../assets/style/images/img3.jpg" alt=""></div>
                            <!-- 什么时候使用省略？建议最多显示4、5个头像，剩下的就用省略 -->
                            <div class="task-card__avatar-item task-card__more-avatar-item"></div>
                        </div>
                        <!--<div class="task-card__username">刘大宝</div>-->
                    </div>
                    <div class="task-card__ending-time"><span class="task-card__ending-time__label">预计完成</span>2019/12/12</div>
                </div>
            </div>
        </div>
        <div class="task-card" data-theme="dark">
            <div class="task-card__img-box">
                <span class="task-card__img-ctrl-btn"><i class="fa fa-play-circle-o"></i></span>
                <img src="../../assets/style/images/img2.jpg" alt="task face">
            </div>
            <div class="task-card__info">
                <div class="task-card__info-row">
                    <div class="task-card__title">任务的标题任务</div>
                    <div class="task-card__status--doing"><i class="fa fa-play"></i> 进行中</div>
                </div>
                <div class="task-card__info-row">
                    <div class="task-card__users">
                        <div class="task-card__avatar-list">
                            <div class="task-card__avatar-item">
                                <img src="../../assets/style/images/img3.jpg" alt="">
                            </div>
                            <div class="task-card__avatar-item"><img src="../../assets/style/images/img3.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="task-card__ending-time"><span class="task-card__ending-time__label">预计完成</span>2019/12/12</div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="currentTab=='tasks'" class="task-container">
        tasks tab
    </div>

    <div *ngIf="currentTab=='finished'" class="task-container">
        <app-story-board></app-story-board>
    </div>
    <!--  你的 </app-my-task> 到这里结束-->

    <!-- 右键菜单 -->
    <div class="context-menu" *ngIf="isContextMenu" style="left: 200px; top: 300px;">
        <div class="context-menu__item">
            <span class="item__icon"><i class="fa fa-file-o fa-fw"></i></span>
            <span class="item__text">从浏览器打开</span>
        </div>
        <div class="context-menu__item">
            <span class="item__icon"><i class="fa fa-file-o fa-fw"></i></span>
            <span class="item__text">从浏览器打开</span>
        </div>
        <div class="context-menu__item">
            <span class="item__icon"><i class="fa fa-file-o fa-fw"></i></span>
            <span class="item__text">从浏览器打开</span>
        </div>
        <div class="context-menu__item">
            <span class="item__icon"><i class="fa fa-file-o fa-fw"></i></span>
            <span class="item__text">从浏览器打开</span>
        </div>
        <div class="context-menu__item">
            <span class="item__icon"><i class="fa fa-file-o fa-fw"></i></span>
            <span class="item__text">从浏览器打开</span>
        </div>
    </div>
</div>


<!-- 删除确认对话框 - start -->
    <app-alert-dialog></app-alert-dialog>
<!-- 删除确认对话框 - end -->


    <app-alert-box></app-alert-box>
</div>
